@model TiKuBll.Model.TeacherValidModel


@section otherHeadInfo {
  <link href="../../Content/css/fileUpload.css" rel="stylesheet" type="text/css">
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="../../Scripts/fileUpload.js?v=2.0"></script>
}


<section class="section-reservation-page bg-white">

            <div class="container">
                <div class="reservation-page">
                    
                    <!-- STEP -->
                    <div class="reservation_step">
                       

                    </div>
                    <!-- END / STEP -->

                    <div class="row">

                        <!-- SIDEBAR -->
                        <div class="col-md-4 col-lg-3">

                            

                        </div>
                        <!-- END / SIDEBAR -->
                        
                        <!-- CONTENT -->
                        <div class="col-md-8 col-lg-9">
                            <div class="reservation_content">                                
                                <div class="reservation-billing-detail">

                                  
                                
                                <div class="reservation-chosen-message bg-gray text-center" id="divMessage" style=" display:none;">
                                    <h4>提示信息 </h4>
                                    <p>认证信息提交成功，请等待审核，大概需要3-5个工作日?</p>
                                    <a href="/open/ClassRoomList" class="awe-btn awe-btn-6">确定</a>
                                </div>

                                   
                                   <div class="reservation-chosen-message bg-gray text-center" id="divValid">
                                   
                                    <h4>老师身份认证</h4>
                                      
                                          <label>身份证正面</label>
                                
                                        @if (string.IsNullOrEmpty(Model.fIDCard1))
                                        {
                                          <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/title" id="imgIDCard1"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtIDCard1','','imgIDCard1')" alt="" />
                                        }
                                        else
                                        {
                                          <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fIDCard1?x-oss-process=style/title" id="imgIDCard1"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtIDCard1','','imgIDCard1')" alt="" />
                                        }
                                         <input type="hidden" id="txtIDCard1"  value="@Model.fIDCard1" />
                                          <label>身份证反面</label>
                                    
                                        @if (string.IsNullOrEmpty(Model.fIDCard2))
                                        {
                                          <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/title" id="imgIDCard2"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtIDCard2','','imgIDCard2')" alt="" />
                                        }
                                        else
                                        {
                                          <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fIDCard2?x-oss-process=style/title" id="imgIDCard2"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtIDCard2','','imgIDCard2')" alt="" />
                                        }
                                         <input type="hidden" id="txtIDCard2"  value="@Model.fIDCard2" />

                                          <label>老师类型 <sup>*</sup></label>
                                    <div class="shortcode-select">
                                        <select class="awe-select" id="cmbPharse">
                                            <option value="">请选择</option>
                                            <option value="小学教育">小学教育</option>
                                            <option value="初中教育">初中教育</option>
                                            <option value="高中教育">高中教育</option>
                                            <option value="成人教育">成人教育</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>
                                    <div class="shortcode-select">
                                        <select class="awe-select" id="cmbSubject">
                                            <option value="">请选择</option>
                                            <option value="小学">语文</option>
                                            <option value="数学">数学</option>
                                            <option value="英语">英语</option>
                                            <option value="物理">物理</option>
                                            <option value="化学">化学</option>
                                            <option value="音乐">音乐</option>
                                            <option value="美术">美术</option>
                                            <option value="编程">编程</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>
                                     <label>证书类型 <sup>*</sup></label>
                                    <div class="shortcode-select">
                                        <select class="awe-select" id="cmbCertType">
                                            <option value="">请选择</option>
                                            <option value="教师证">教师证</option>
                                            <option value="职业资格证">职业资格证</option>
                                            <option value="其他">其他</option>
                                        </select>
                                    </div>


                                          <label>证书1</label>
                                    
                                        @if (string.IsNullOrEmpty(Model.fTeachCert1))
                                        {
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/title" id="imgTeacherCert1"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtTeacherCert1','','imgTeacherCert1')" alt="" />
                                        }
                                        else
                                        {
                                      <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fTeachCert1?x-oss-process=style/title" id="imgTeacherCert1"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtTeacherCert1','','imgTeacherCert1')" alt="" />
                                        }
                                         <input type="hidden" id="txtTeacherCert1"  value="@Model.fTeachCert1" />
                                          <label>证书2</label>
                                     
                                        @if (string.IsNullOrEmpty(Model.fTeachCert2))
                                        {
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/title" id="imgTeacherCert2"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtTeacherCert2','','imgTeacherCert2')" alt="" />
                                        }
                                        else
                                        {
                                      <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fTeachCert2?x-oss-process=style/title" id="imgTeacherCert2"  data-reveal-id="myModal" onclick="UploadFile('@Model.fUserName','TeacherValid','txtTeacherCert2','','imgTeacherCert2')" alt="" />
                                        }
                                         <input type="hidden" id="txtTeacherCert2"  value="@Model.fTeachCert2" />
                                         <br />
                                    <button class="awe-btn awe-btn-13" onclick="TeacherValid()">提交认证</button>
                                    
                                   </div>


                                </div>

                            </div>

                        </div>
                        <!-- END / CONTENT -->
                        
                    </div>
                </div>
            </div>

        </section>



<script type="text/javascript">

  function TeacherValid() {
    var TeacherValidModel = {
      fPharse: $("#cmbPharse").val(),
      fSubject: $("#cmbSubject").val(),
      fCertType: $("#cmbCertType").val(),
      fIDCard1: $("#txtIDCard1").val(),
      fIDCard2: $("#txtIDCard2").val(),
      fTeachCert1: $("#txtTeacherCert1").val(),
      fTeachCert2: $("#txtTeacherCert2").val()
    };
    $.ajax({
      url: "/user/SaveTeacherValidFile",
      data: TeacherValidModel,
      type: "POST",
      dataType: "json",
      success: function (rst) {
        if (rst.iResult >= 0) {
          //alert("提交成功，等待审核");
          //window.location.reload();
          $("#divMessage").show();
          $("#divValid").hide();

        } else {
          alert(rst.strMsg);
        }
      }

    });
  }



</script>
