@model KeZhanManager.Models.UserAmountListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="100">用户名</th>
            <th width="150">金额</th>
            <th width="40">交易类型</th>
            <th width="">交易ID</th>
            <th width="90">备注</th>
            <th width="130">备注</th>
            <th width="70">日期</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var amount in Model.amountList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@amount.fID" name=""></td>
                <td>@amount.fID</td>
                <td>@amount.fUserName</td>
                <td>
                    @amount.fAmount
                </td>
                <td>@amount.fType</td>
                <td class="text-l"><span class="label label-success radius">@amount.fTypeID</span></td>
                <td>@amount.fRemark</td>
                <td>@amount.fNote</td>
                <td class="td-status">@amount.fCreateDate</td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a>
                </td>
            </tr>
        }
    </tbody>
</table>