@model TiKuBll.Model.CourseListModel
@{
    ViewBag.Title = "课站";
}
@if (Model.isEdit)
{
    <button class="awe-btn awe-btn-13" id="btnAdd" onclick="AddCurse()">新增课时</button>
}
<div class="reservation-room_package">
    @*<a data-toggle="collapse" href="#reservation-room_package-1" class="reservation-room_package-more" aria-expanded="true">章节</a>*@
 
    <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

        @if (Model.courseList != null)
        {
                                                <!-- ITEM PACKAGE -->
            foreach (var course in Model.courseList)
            {
                <div class="reservation-package_item">
                    @if (!string.IsNullOrEmpty(course.fResourceUrl))
                    {
                        if (!string.IsNullOrEmpty(course.fFileCoverUrl))
                        {
                            <div class="reservation-package_img">
                                <img style=" width:100px; height:60px;" src="@course.fFileCoverUrl"   alt="">

                            </div>
                        }
                        else
                        {

                            <div class="reservation-package_img">
                                <img style=" width:100px; height:60px;" src="@course.fFileCoverUrl"  alt="">

                            </div>
                        }
                    }
                    else if (Model.isEdit)
                    {
                        <div class="reservation-package_img">
                            <img style=" width:100px; height:60px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/MediaUpload.jpg?x-oss-process=style/fang" alt="" />
                        </div>
                    }

                    <div class="reservation-package_text">

                        <h4><a href="#">@course.fDictTitle</a></h4>
                        <p>
                            @course.fCourseTitle
                            @if (course.fUpdateClassDate > DateTime.MinValue)
                            {
                                <br />
                                <span>原上课时间：@course.fUpdateClassDate.ToString()</span>
                            }
                            <br />
                            <span>上课时间：@course.fClassDate.ToString()</span>
                        </p>

                        <div class="reservation-package_book-price">
                            @if (!string.IsNullOrEmpty(course.fResourceUrl))
                            {
                                if (!string.IsNullOrEmpty(course.fFileCoverUrl))
                                {
                                    <a href="/ClassRoom/OpenClassRoom?iCourseID=@course.fID" class="awe-btn awe-btn-default">查看视频</a>

                                }
                                else
                                {
                                    <a href="#" class="awe-btn awe-btn-default">转码中</a>
                                }
                            }
                            @if (Model.isEdit)
                            {
                                <button class="awe-btn awe-btn-default" onclick="UpdateCurse(@course.fID,'@course.fDictTitle','@course.fCourseTitle','@course.fClassDate.ToString("yyyy-MM-dd")',@course.fClassDate.Hour,@course.fClassDate.Minute,@course.fClassDateLength,@course.fOrder)">修改</button>
                                <button class="awe-btn awe-btn-default" onclick="DeleteCurse(@course.fID)">删除</button>

                            }
                            else
                            {
                                @*if (string.IsNullOrEmpty(course.fClassId))
                                {
                                    <button class="awe-btn awe-btn-default" onclick="DoCreateClass(@course.fID)">预约课堂</button>
                                }*@
                                @*else
                                {
                                    <a class="awe-btn awe-btn-default" href="https://tedu.qcloudtrtc.com/#/class/1400178589/@course.fClassId/113301736455/eJxNjV1PgzAYRv9LbzXa0haKiRdLNyLqEmDuw8WkQShbR2Sl6xxo-O8yxGTv5Tk5z-sNXp5nN2mW7Y*VFbbVEtwBCK57rHJZWVUoaTqIEMYQedgllA4*1VrlIrUCm-wiO*Sl6NW5IrCLGGX*IGWjlZEiLezfKvVcBs83*E9pDmpfdcqBiCIHX0qrPmQfuRhRCj38-1FtOjydzHkY84k2q*Wujhf6fZ4tcC2bsMA4ihK3LBkLotH4tXX8p6-1KQ4306vaj99ui5UO*JEvi4r49GH8SJI1bWm5PTk8YDuybWTCR-fg5xfAKFgc/182384">网页</a>
                                    <a class="awe-btn awe-btn-default" href="tc-videochat://tclass/1400178589/@course.fClassId?user_id=113301736455&user_token=182384&user_sig=eJxNjV1PgzAYRv9LbzXa0haKiRdLNyLqEmDuw8WkQShbR2Sl6xxo-O8yxGTv5Tk5z-sNXp5nN2mW7Y*VFbbVEtwBCK57rHJZWVUoaTqIEMYQedgllA4*1VrlIrUCm-wiO*Sl6NW5IrCLGGX*IGWjlZEiLezfKvVcBs83*E9pDmpfdcqBiCIHX0qrPmQfuRhRCj38-1FtOjydzHkY84k2q*Wujhf6fZ4tcC2bsMA4ihK3LBkLotH4tXX8p6-1KQ4306vaj99ui5UO*JEvi4r49GH8SJI1bWm5PTk8YDuybWTCR-fg5xfAKFgc&config_url=">客户端</a>

                                }*@
                            }
                            
                        </div>
                    </div>

                </div>
            }


        }
        <input type="hidden" id="hidCourseNum" value="@Model.courseList.Count" />


      
    </div>
</div>
