@model KeZhanManager.Models.BookingListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">订单号</th>
            <th width="100">订单类型</th>
            <th width="150">金额</th>
            <th width="40">购买时间</th>
            <th width="">用户名</th>
            <th width="90">在线支付</th>
            <th width="130">是否可退</th>
            <th width="70">状态</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.bookingList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@booking.fID" name=""></td>
                <td><u style="cursor:pointer" class="text-primary" onclick="item_show('张三', 'member-show.html', '10001', '360', '400')">@booking.fBookingNo</u></td>

                <td>@booking.fType</td>
                <td>
                    @booking.fAmount
                </td>
                <td>@booking.fBuyDate</td>
                <td class="text-l"><span class="label label-success radius">@booking.fUserName</span></td>
                <td>@booking.fIsPay</td>
                <td>@booking.fIsReturn</td>
                <td class="td-status">@booking.fStatus</td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a>
                </td>
            </tr>
        }
    </tbody>
</table>