@model KeZhanManager.Models.UserRefundListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">退款单号</th>
            <th width="100">订单号</th>
            <th width="150">申请金额</th>
            <th width="40">申请备注</th>
            <th width="">退款金额</th>
            <th width="90">退款备注</th>
            <th width="130">退款时间</th>
            <th width="70">状态</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var refund in Model.refundList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@refund.fID" name=""></td>
                <td><u style="cursor:pointer" class="text-primary" onclick="item_show('张三', 'member-show.html', '10001', '360', '400')">@refund.fOrderNo</u></td>

                <td>@refund.fBookingNo</td>
                <td>
                    @refund.fApplyAmount
                </td>
                <td>@refund.fApplyRemark</td>
                <td class="text-l">@refund.fRefundAmount</td>
                <td>@refund.fRefundNote</td>
                <td>@refund.fRefundDate</td>
                <td class="td-status"><span class="label label-success radius">@refund.fStatus</span></td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a>
                </td>
            </tr>
        }
    </tbody>
</table>