@model TiKuBll.Model.ClassRoomModel
@{
  ViewBag.Title = "课站";
}
<section class="section-reservation-page bg-white">

            <div class="container">
                <div class="reservation-page">
                    
                  
                    <div class="row">

                        

                        <!-- SIDEBAR -->
                        <div class="col-md-4 col-lg-3">
                           <div class="sidebar">
                          

                                <!-- WIDGET RECENT POST HAS THUMBNAIL -->
                                <div class="widget widget_recent_entries has_thumbnail">        
                                    <h4 class="widget-title">老师介绍</h4>
                                   <div class="guest-book_item guest-book_item-2">
                                        <span class="icon lotus-icon-quote-left"></span>
                                        <div class="avatar">
                                            <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherHead?x-oss-process=style/head" alt="">
                                        </div>
                                        <h2>@Model.TeacherName</h2>
                                        <p>@Model.TeacherDesc</p>
                                        <span></span>
                                    </div>
                                </div>
                                <!-- END / WIDGET RECENT POST HAS THUMBNAIL -->
                                @if (!string.IsNullOrEmpty(Model.TeacherQrCode))
                                {
                             
                                  
                                   <div class="widget widget_recent_entries has_thumbnail">        
                                    <h4 class="widget-title">老师微信二维码</h4>
                                   <div class="guest-book_item guest-book_item-2">
                                      <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherQrCode?x-oss-process=style/zheng" alt="" />
                                      
                                    </div>
                                </div>
                                }
                                  
                                @if (Model.IsBuy > 0)
                                {
                                  if (!string.IsNullOrEmpty(Model.fQrCode))
                                  {
                                    
                                   <div class="widget widget_recent_entries has_thumbnail">        
                                    <h4 class="widget-title">课程微信群</h4>
                                   <div class="guest-book_item guest-book_item-2">
                                      <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fQrCode?x-oss-process=style/zheng" alt="" />
                                      
                                    </div>
                                </div>
                                  }
                                }
                            </div>

                        </div>
                        <!-- END / SIDEBAR -->
                        
                        <!-- CONTENT -->
                        <div class="col-md-8 col-lg-9">

                            <div class="reservation_content">
                                
                                <!-- RESERVATION ROOM -->
                                <div class="reservation-room">

                                    <!-- ITEM -->
                                    <div class="reservation-room_item">

                                        <h2 class="reservation-room_name"><a href="#">@Model.fClassRoomTitle</a></h2>

                                        <div class="reservation-room_img">
                                            <a href="#">
                                            <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fCoverImg?x-oss-process=style/width" alt="">
                                            </a>
                                        </div>

                                        <div class="reservation-room_text">

                                            <div class="reservation-room_desc">
                                                <p>
                                                 @Html.Raw(Html.Encode(Model.fInfo).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))
                                                 <br />
                                                    <span>开课时间：@Model.fClassRoomDate.ToShortDateString()</span>
                                                    <br />
                                                    <span>讲师：@Model.TeacherName</span>
                                                    <br />
                                                    @if (Model.fIsReturn)
                                                    {
                                                      <span>不可退</span>
                                                    }
                                                    else
                                                    {                                                    
                                                      <span>可退</span>
                                                    }
                                                </p>                                               

                                            </div>
                                           
                                            <div class="clear"></div>

                                            <p class="reservation-room_price">
                                                <span class="reservation-room_amout">￥ @Model.fPrice</span>
                                            </p>
                                            
                                            @if (Model.IsBuy > 0)
                                            {
                                              
                                              <a href="/Home/Index?strClassRoomType=PublicClassRoom&strClassRoomCode=@Model.fClassRoomCode" class="reservation-room_view-more">进入课堂</a>
                                            }
                                            else
                                            {
                                              if (Model.fPayType == "在线支付")
                                              {
                                                <a href="/ClassRoom/ClassRoomBooking?strClassRoomCode=@Model.fClassRoomCode" class="awe-btn awe-btn-default">购买</a>
                                              }
                                              else
                                              {
                                                <a href="/ClassRoom/ClassRoomBooking?strClassRoomCode=@Model.fClassRoomCode" class="awe-btn awe-btn-default">报名</a>
                                              }
                                            }

                                        </div>
                                        <br />
                                        <br />
                                          @if (Model.courseList != null)
                                          {
                                        <div class="reservation-room_package">

                                            <a data-toggle="collapse" href="#reservation-room_package-1" class="reservation-room_package-more" aria-expanded="true">章节</a>

                                            <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

                                                <!-- ITEM PACKAGE -->
                                                @foreach (var course in Model.courseList)
                                                {
                                                <div class="reservation-package_item">
@*
                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src="../../Content/images/reservation/package/img-1.jpg" alt=""></a>
                                                    </div>*@

                                                    <div class="reservation-package_text">

                                                        <h4><a href="#">@course.fDictTitle</a></h4>
                                                        <p>@course.fCourseTitle
                                                        <br />
                                                        <span>上课时间：@course.fClassDate.ToString()</span>
                                                        </p>

                                                        <div class="reservation-package_book-price">
                                                            @if (course.CourseStatus == 1)
                                                            {
                                                              <a href="#" class="awe-btn awe-btn-default">未开始</a>
                                                            }
                                                            else if (course.CourseStatus == 2)
                                                            {
                                                              <a href="/Home/Index?strClassRoomType=PublicClassRoom&strClassRoomCode=@Model.fClassRoomCode" class="awe-btn awe-btn-default">进入课堂</a>
                                                            }
                                                            else if (course.CourseStatus == 3)
                                                            {
                                                              if (course.fStatus == "已转码")
                                                              {
                                                              <a href="/ClassRoom/OpenClassRoom?iCourseID=@course.fID" class="awe-btn awe-btn-default">回看</a>
                                                              }
                                                            }
                                                        </div>

                                                    </div>
                                                     <br />
                                        
                                                </div>
                                                }
                                                <!-- END / ITEM PACKAGE -->
                                                   @Html.Raw(Html.Encode(@Model.fDesc).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))
                                           <br />
                                            @if (Model.descList != null)
                                            {
                                              foreach (var desc in Model.descList)
                                              {
                                                if (desc.fType == "text")
                                                {
                                           <span>@desc.fContent</span>
                                         <br />
                                                }
                                                else if (desc.fType == "img")
                                                {
                                                   <div class="reservation-room_img">
                                                      <a href="#">
                                                      <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@desc.fContent?x-oss-process=style/chang" alt="" />
                                                      </a>
                                                  </div>
                                           
                                                   <br />
                                                }
                                              }
                                            }   
                                            

                                            </div>

                                        </div>
                                          }
                                                   
                                    </div>
                                    <!-- END / ITEM -->

                                

                                </div>
                                <!-- END / RESERVATION ROOM -->

                            </div>

                        </div>
                        <!-- END / CONTENT -->
                        
                    </div>
                </div>
            </div>

        </section>
