@model TiKuBll.Model.BookingModel

@{
    ViewBag.Title = "课站";
}




<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">

                <!-- SIDEBAR -->
                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">



                    </div>

                </div>
                <!-- END / SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <div class="reservation-billing-detail">


                            <h4>申请退款</h4>
                            <label>订单编号<sup> </sup></label>
                            <span>@Model.fBookingNo</span>
                            <label>课程名称<sup> </sup></label>
                            <span>@Model.ClassRoom.fClassRoomTitle</span>
                            <label>购买时间<sup> </sup></label>
                            <span>@Model.fBuyDate.ToString()</span>
                            <label>价格<sup></sup></label>
                            <span>@Model.fAmount </span>
                            <label>开课时间<sup> </sup></label>
                            <span>@Model.ClassRoom.fClassRoomDate.ToString()</span>
                            @if (Model.fIsReturn)
                            {
                                var strRefund =  Model.ClassRoom.fReturnType + "退";
                                if(Model.ClassRoom.fReturnType=="随时")
                                {
                                    strRefund += " 按" + Model.ClassRoom.fReturnRule;
                                }
                                <label>@strRefund<sup> </sup></label>
                                <span>课前退，是指课程的第一课时开始前；随时退，最后一个课时前随时可退</span>
                            }
                            else
                            {
                                <label>是否可退</label>
                                <span>不可退</span>
                            }
                            @*<label>课程明细<sup> </sup></label>
    @foreach (var c in Model.ClassRoom.courseList)
    {
        <span>@c.fDictTitle</span>
        <span>@c.fCourseTitle</span>
        <span>@c.fClassDate.ToString()</span>
        <br />
    }
    <br />
    <label>退款金额<sup>最大可退款金额 @Model.MaxReturnAmount </sup></label>
    <input type="number" id="txtRefundAmount"  class="input-text"  value="@Model.MaxReturnAmount" disabled="disabled" />*@

                            <label>退款金额<sup> </sup></label>
                            <span>@Model.MaxReturnAmount</span>
                            <input type="hidden" id="txtRefundAmount" value="@Model.MaxReturnAmount" />
                            <label>退款原因<sup> </sup></label>
                            <input type="text" id="txtRemark" class="input-text" placeholder="请输入退课原因" />
                            <br />
                            <br />
                            <button class="awe-btn awe-btn-13" id="btnSubmit" onclick="SubmitRefund('@Model.fBookingNo','@Model.fUserName',@Model.MaxReturnAmount)">提交退款</button>



                        </div>

                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    function SubmitRefund(bookingNo,userName,maxAmount)
    {
        if($("#txtRefundAmount").val().trim()==""){
            alert("退款金额不能为空");
            return;
        } else if (parseFloat($("#txtRefundAmount").val()) <=0) {
            alert("退款金额必须大于0");
            return;
        }else if($("#txtRemark").val().trim()==""){
            alert("退款原因不能为空");
            return;
        } else if (parseFloat($("#txtRefundAmount").val()) > parseFloat(maxAmount)) {
             alert("退款金额不能超过最大可退款金额");
                return;
        }

        $("#btnSubmit").attr("disabled", "disabled");

        $.ajax({
            url: "/LoginRequest/DoSubmitBookingRefund",
            data: { "strOrderNo": bookingNo,"strUserName":userName, "dAmount": $("#txtRefundAmount").val().trim(), "strRemark": $("#txtRemark").val().trim() },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("提交成功");
                    window.location.href=document.referrer;
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }
</script>
