@model TiKuBll.Model.ClassRoomModel

@{
    ViewBag.Title = "课站";
}




<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">

                <!-- SIDEBAR -->
                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">


                        <!-- WIDGET RECENT POST HAS THUMBNAIL -->
                        <div class="widget widget_recent_entries has_thumbnail">
                            <h4 class="widget-title">老师介绍</h4>
                            <div class="guest-book_item guest-book_item-2">
                                <span class="icon lotus-icon-quote-left"></span>
                                <div class="avatar">
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherHead?x-oss-process=style/head" alt="">
                                </div>
                                <h2>@Model.TeacherName</h2>
                                <p style="word-wrap:break-word;">
                                    @if (Model.validList != null)
                                    {
                                        <span>证书编号：</span>
                                        foreach (var valid in Model.validList)
                                        {
                                            <label>@valid.fCertNo</label>
                                        }
                                    }
                                    <span>@Model.TeacherDesc</span>
                                </p>
                                <span></span>
                            </div>
                        </div>
                        <!-- END / WIDGET RECENT POST HAS THUMBNAIL -->
                        @if (!string.IsNullOrEmpty(Model.TeacherQrCode))
                        {
                            <div class="widget widget_recent_entries has_thumbnail">
                                <h4 class="widget-title">老师微信二维码</h4>
                                <div class="guest-book_item guest-book_item-2">
                                    <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherQrCode?x-oss-process=style/zheng" alt="" />

                                </div>
                            </div>
                        }

                        @if (Model.IsBuy > 0)
                        {
                            if (!string.IsNullOrEmpty(Model.fQrCode))
                            {

                                <div class="widget widget_recent_entries has_thumbnail">
                                    <h4 class="widget-title">课程微信群</h4>
                                    <div class="guest-book_item guest-book_item-2">
                                        <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fQrCode?x-oss-process=style/zheng" alt="" />

                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
                <!-- END / SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <div class="reservation-billing-detail" id="divBooking">


                            <h4>订单信息确认</h4>

                            <label>课程名称<sup> </sup></label>
                            <span>@Model.fClassRoomTitle</span>
                            <label>价格<sup></sup></label>
                            <span>@Model.fPrice </span>
                            <label>开课时间<sup> </sup></label>
                            <span>@Model.fClassRoomDate.ToShortDateString()</span>


                            @if (Model.fIsReturn)
                            {
                                var strRefund = " 按" + Model.fReturnRule + "  " + Model.fReturnType + "退";
                                
                                <label>是否可退：<sup> </sup></label>
                                <span>可退款</span>
                                <span>@strRefund</span>
                            }
                            else
                            {
                                <label>是否可退：<sup> </sup></label>
                                <span>不可退款</span>
                            }
                            <br />
                            <button class="awe-btn awe-btn-13" onclick="SubmitOrder('@Model.fPayType')">确定</button>

                            <br />
                            <br />
                            @if (Model.courseList != null)
                            {
                                <div class="reservation-room_package">

                                    <a data-toggle="collapse" href="#reservation-room_package-1" class="reservation-room_package-more" aria-expanded="true">章节</a>

                                    <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

                                        <!-- ITEM PACKAGE -->
                                        @foreach (var course in Model.courseList)
                                        {
                                            <div class="reservation-package_item">
                                                @*
                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src="../../Content/images/reservation/package/img-1.jpg" alt=""></a>
                                                    </div>*@

                                                <div class="reservation-package_text">

                                                    <h4><a href="#">@course.fDictTitle</a></h4>
                                                    <p>
                                                        @course.fCourseTitle
                                                        <br />
                                                        <span>上课时间：@course.fClassDate.ToString("yyyy-MM-dd HH:mm") - @course.fClassDate.AddMinutes(course.fClassDateLength).ToString("HH:mm")</span>
                                                    </p>
                                                    @if (Model.IsBuy > 0)
                                                    {
                                                        <div class="reservation-package_book-price">
                                                            @if (course.CourseStatus == 1)
                                                            {
                                                                <a href="#" class="awe-btn awe-btn-default">未开始</a>
                                                            }
                                                            else if (course.CourseStatus == 2)
                                                            {
                                                                <a href="#" class="awe-btn awe-btn-default">已结束</a>
                                                            }
                                                            else if (course.CourseStatus == 3)
                                                            {
                                                                if (Model.fStatus == "发布")
                                                                {
                                                                    <a href="/Home/Index?iCourseID=@course.fID" target="_blank" class="awe-btn awe-btn-default">进入课堂</a>
                                                                }
                                                            }
                                                            else if (course.CourseStatus == 4)
                                                            {
                                                                if (!string.IsNullOrEmpty(course.fFileCoverUrl))
                                                                {
                                                                    <a href="/ClassRoom/OpenClassRoom?iCourseID=@course.fID" class="awe-btn awe-btn-default">回看</a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#" class="awe-btn awe-btn-default">转码中</a>
                                                                }
                                                            }

                                                        </div>
                                                    }

                                                </div>
                                                <br />

                                            </div>
                                        }
                                        <!-- END / ITEM PACKAGE -->



                                    </div>

                                </div>
                            }


                        </div>


                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>


<script type="text/javascript">
    var classRoomCode = '@Model.fClassRoomCode';

    function SubmitOrder(classRoomType) {

        $.ajax({
            url: "/LoginRequest/DoSubmitBooking",
            data: { "strClassRoomCode": classRoomCode },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    if (rst.iResult == 0) {
                        $("#divBooking").hide();
                        window.location.href = "/User/UserBooking?strBookingNo=" + rst.strMsg;
                    }
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }


</script>