@model TiKuBll.Model.BookingModel
@{
    ViewBag.Title = "课站";
}

<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">

                <!-- SIDEBAR -->
                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">



                        @if (!string.IsNullOrEmpty(Model.ClassRoom.TeacherQrCode))
                        {


                            <div class="widget widget_recent_entries has_thumbnail">
                                <h4 class="widget-title">老师微信二维码</h4>
                                <div class="guest-book_item guest-book_item-2">
                                    <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.ClassRoom.TeacherQrCode?x-oss-process=style/zheng" alt="" />

                                </div>
                            </div>
                        }

                        @if (Model.fIsPay)
                        {
                            if (!string.IsNullOrEmpty(Model.ClassRoom.fQrCode))
                            {

                                <div class="widget widget_recent_entries has_thumbnail">
                                    <h4 class="widget-title">课程微信群</h4>
                                    <div class="guest-book_item guest-book_item-2">
                                        <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.ClassRoom.fQrCode?x-oss-process=style/zheng" alt="" />

                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
                <!-- END / SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <div class="reservation-billing-detail">


                            <h4>订单信息</h4>


                            <label>订单编号<sup> </sup></label>
                            <span>@Model.fBookingNo</span>
                            <label>课程名称<sup> </sup></label>
                            @if (Model.fType == "ClassRoom")
                            {
                                <span>@Model.ClassRoom.fClassRoomTitle</span>
                            }
                            else
                            {
                                <span>在线课堂</span>
                            }
                            <label>购买时间<sup> </sup></label>
                            <span>@Model.fBuyDate.ToString()</span>
                            <label>价格<sup></sup></label>
                            <span>@Model.fAmount </span>
                            @if (Model.fType == "ClassRoom" && Model.ClassRoom.fType=="Live")
                            {
                                <label>开课时间<sup> </sup></label>
                                <span>@Model.ClassRoom.fClassRoomDate.ToString()</span>
                            }
                            @if (Model.fIsReturn)
                            {
                                var strRefund = Model.ClassRoom.fReturnType + "退";
                                if (Model.ClassRoom.fReturnType == "随时")
                                {
                                    strRefund += " 按" + Model.ClassRoom.fReturnRule;
                                }
                                <label>@strRefund<sup> </sup></label>
                                <span>课前退，是指课程的第一课时开始前；随时退，最后一个课时前随时可退</span>
                            }
                            else
                            {
                                <label>是否可退</label>
                                <span>不可退</span>
                            }
                            @if (@Model.BookingRefund != null)
                            {
                                <label>退款信息<sup> </sup></label>
                                <span>退款金额：@Model.BookingRefund.fRefundAmount</span>
                                <span>退款时间：@Model.BookingRefund.fApplyDate</span>
                            }
                            @*<label>课程明细<sup> </sup></label>
                                @foreach (var c in Model.ClassRoom.courseList)
                                {
                                    <span>@c.fDictTitle</span>
                                    <span>@c.fCourseTitle</span>
                                    <span>@c.fClassDate.ToString()</span>
                                    <br />
                                }*@

                            <br />

                            @if (Model.fType == "ClassRoom" && Model.ClassRoom.fPayType == "在线支付")
                            {
                                if (!Model.fIsPay && Model.fStatus == "提交")
                                {
                                    @*<span>账户余额：@Model.UserAccountAmount</span>
                                        if (Model.UserAccountAmount > Model.fAmount)
                                        {
                                            <button class="awe-btn awe-btn-13" onclick="PayOrder('@Model.fBookingNo')">支付订单</button>
                                        }
                                        else
                                        {
                                            var leftAmount = Model.fAmount - Model.UserAccountAmount;
                                            <span>账户余额不足请先充值</span>
                                        }*@
                                    <label>支付方式</label>
                                    <ul class="option-bank">

                                        <li id="liAli">
                                            <label class="label-radio">
                                                <input type="radio" class="input-radio" name="rPayType" value="alipay">
                                                支付宝
                                            </label>

                                            @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                        </li>
                                        <li>
                                            <label class="label-radio">
                                                <input type="radio" class="input-radio" name="rPayType" value="weixinpay">
                                                微信
                                            </label>

                                            @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                        </li>
                                        @if (Model.UserAccountAmount > Model.fAmount)
                                        {
                                            <li>
                                                <label class="label-radio">
                                                    <input type="radio" class="input-radio" name="rPayType" value="aizhupay">
                                                    账户余额
                                                </label>

                                                @* <img src="../../Content/images/icon-card.jpg" alt="">*@
                                            </li>
                                        }
                                    </ul>
                                    <div id="divQrCode" style=" display:none;">
                                    </div>
                                    <br />
                                    <button class="awe-btn awe-btn-13" id="btnPay" data-reveal-id="divPayCode" onclick="UserPay('@Model.fBookingNo',@Model.fAmount)">支付订单</button>
                                    //}
                                }
                                else if (Model.fIsReturn && Model.fIsPay && Model.fStatus == "已支付" && Model.ClassRoom.fType == "Live" && Model.ClassRoom.fStatus != "结算")
                                {
                                    if ((Model.ClassRoom.fReturnType == "课前" && Model.ClassRoom.fClassRoomDate > DateTime.Now) || Model.ClassRoom.fReturnType == "随时")
                                    {
                                        <a class="awe-btn awe-btn-14" href="/User/BookingRefund?strBookingNo=@Model.fBookingNo">申请退款</a>
                                    }
                                }
                            }
                        </div>

                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>




<script type="text/javascript">
    var username = '@Model.UserName';
    var openid = '@Model.OpenID';

    $(document).ready(function () {
        if (is_weixn()) {
            $("#liAli").hide();
        }
    })

    function PayOrder(bookingNo) {
        var tradePass = "";
        tradePass = prompt("请输入交易密码")
        if (tradePass == "") {
            alert("请输入交易密码");
            return;
        }

        $.ajax({
            url: "/AiZhuPay/BookingPay",
            data: { "strBookingType": "Booking", "strBookingNo": bookingNo, "strTradePass": tradePass },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("支付成功");
                    window.location.reload();
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }


    function UserPay(bookingNo, leftAmount) {
        var payType = $("input[name='rPayType']:checked").val();
        if (payType == "aizhupay") {
            AiZhuPay(bookingNo);
        } else {
            if (IsPC()) {
                PCPay(bookingNo, leftAmount);
            } else {
                if (is_weixn()) {
                    WXPay(bookingNo, leftAmount);
                } else {
                    WapPay(bookingNo, leftAmount);
                }
            }
        }
    }

    function PCPay(bookingNo, leftAmount) {
        var payType = $("input[name='rPayType']:checked").val();
        if (payType == "weixinpay") {


            $.ajax({
                url: "/weixinpay/UserPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        $("#imgQrCode").attr("src", "http://qr.topscan.com/api.php?text=" + rst.strMsg);
                        $("#myBGDiv").show();
                        $("#divPayCode").show();

                        setTimeout("GetBookingNo('" + bookingNo + "')", 2000);//获取支付结果
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        } else {
            $.ajax({
                url: "/alipay/UserPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        $("#divQrCode").html(rst.strMsg);
                        $("#divQrCode").show();
                        $("#btnPay").hide();
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        }
    }

    function WapPay(bookingNo, leftAmount) {
        var payType = $("input[name='rPayType']:checked").val();
        if (payType == "weixinpay") {
            $.ajax({
                url: "/weixinpay/UserWapPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        window.location.href = rst.strMsg;
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        } else {
            $.ajax({
                url: "/alipay/UserWapPay",
                data: { "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
                type: "POST",
                dataType: "json",
                success: function (rst) {

                    if (rst.iResult >= 0) {
                        $("#divQrCode").html(rst.strMsg);
                        $("#divQrCode").show();
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        }
    }

    function WXPay(bookingNo, leftAmount) {

        $.ajax({
            url: "/weixinpay/UserWeiXinPay",
            data: { "openid": openid, "strUserName": username, "strType": "BuyClass", "strBookingNo": bookingNo, "strFee": leftAmount },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": rst.appId,     //公众号名称，由商户传入
                    "timeStamp": rst.timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr": rst.nonceStr, //随机串
                    "package": rst.packageValue,
                    "signType": "MD5",         //微信签名方式:
                    "paySign": rst.paySign //微信签名
                },
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        setTimeout(window.location.reload(), 1000);
                    } else {
                        // alert(res.err_msg);
                        $("#btnPay").attr("disabled", false)
                        $("#btnPay").val("支付");
                    }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。

                }
               );
            },
            fail: function (err) {
                alert(err);
            }

        });

    }

    function AiZhuPay(bookingNo) {
        var tradePass = "";
        tradePass = prompt("请输入交易密码")
        if (tradePass == "") {
            alert("请输入交易密码");
            return;
        }

        $.ajax({
            url: "/AiZhuPay/BookingPay",
            data: { "strBookingType": "Booking", "strBookingNo": bookingNo, "strTradePass": tradePass },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("支付成功");
                    window.location.reload();
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }


    function GetBookingNo(bookingno) {
        $.ajax({
            url: "/weixinpay/GetBookingStatus",
            data: { "strBookingNo": bookingno },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult == 0) {
                    alert("支付成功")
                    window.location.reload();
                } else {
                    setTimeout("GetBookingNo('" + bookingno + "')", 2000);
                }
            }

        });

    }



    function ClosePayCode() {
        $("#myBGDiv").hide();
        $("#divPayCode").hide();
    }
</script>
