@model KeZhan.Models.UserBaseModel
@{
    ViewBag.Title = "课站";
}
<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">

                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li class="active" onclick="showPanel('user')"><a href="#" style=" width:100%;" data-toggle="tab">基本信息</a></li>
                        @if (Model.userRole == "Teacher")
                        {
                        <li onclick="showPanel('teacher')"><a href="#" style=" width:100%;" data-toggle="tab">老师资料</a></li>
                        <li onclick="showPanel('valid')"><a href="#" style=" width:100%;" data-toggle="tab">认证信息</a></li>
                        }
                        else
                        {
                        @*<li onclick="showPanel('student')"><a href="#"  style=" width:100%;" data-toggle="tab">学生资料</a></li>*@
                        @* <li onclick="showPanel('valid')"><a href="#"  style=" width:100%;" data-toggle="tab">成为老师</a></li>*@
                        }
                    </ul>
                </div>


                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <div class="reservation-billing-detail" id="panelUser">
                            <label>昵称<sup>*</sup></label>
                            <span id="spanNickName">@Model.userInfo.fNickName</span><a href="#" style="padding-left:20px;color:#e1bd85;" id="aNickName" onclick="updateNickName()">修改</a>
                            <input type="text" style=" display:none" id="txtNickName" value="@Model.userInfo.fNickName" class="input-text">
                            <a href="#" class="awe-btn awe-btn-13" style=" display:none;width:20%;" id="btnNickName" onclick="DoSaveNickName()">保存</a>



                            <label>头像<sup>*</sup></label>

                            @if (string.IsNullOrEmpty(Model.userInfo.fHeadImg))
                            {
                            <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/fang" id="imgHead" data-reveal-id="myModal" onclick="UploadFile('@Model.userInfo.fUserName','HeadImg','hidHead','btnHeadImg','imgHead')" alt="" />
                            }
                            else
                            {
                            <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.userInfo.fHeadImg?x-oss-process=style/fang" id="imgHead" data-reveal-id="myModal" onclick="UploadFile('@Model.userInfo.fUserName','HeadImg','hidHead','btnHeadImg','imgHead')" alt="" />
                            }
                            <input type="hidden" id="hidHead" value="@Model.userInfo.fHeadImg" />
                            <a href="#" class="awe-btn awe-btn-13" id="btnHeadImg" style=" display:none;width:20%;" onclick="DoSaveHeadImg()">头像保存</a>


                            @*<label>所在城市<sup>*</sup></label>
                                   <span id="spanCity">@Model.userInfo.fCity</span><a href="#" style="padding-left:20px; color:#e1bd85;" id="aCity" onclick="updateCity()">修改</a>
                                <input type="text" style=" display:none" id="txtCity" value="@Model.userInfo.fCity" class="input-text">
                                <a href="#" class="awe-btn awe-btn-13" style=" display:none" id="btnCity" style="width:20%;" onclick="DoSaveCity()">保存</a>*@

                            <label>手机<sup>*</sup></label>
                            <span id="spanMobile">@Model.userInfo.fMobile</span>
                            <a href="#" style="padding-left:20px; color:#e1bd85;" id="aMobile" onclick="updateMobile()">修改</a>
                            <input type="text" style=" display:none" id="txtMobile" placeholder="请输入新手机" class="input-text">
                            <br /><br />
                            <input type="text" style=" display:none" id="txtCode" placeholder="请输入验证码" value="" class="input-text">
                            <p style=" text-align:right; width:100%; font-size:12px;">
                                <a href="#" style=" display:none" id="btnCode" onclick="DoSendCode()">发送验证码</a>
                            </p>
                            <a href="#" class="awe-btn awe-btn-13" style=" display:none" id="btnMobile" onclick="DoSaveMobile()">保存</a>




                            @*<label>邮箱</label>
                                <input type="text" id="txtEmail" value="@Model.userInfo.fEmail" class="input-text">*@
                            <label>邮箱<sup>*</sup></label>
                            <span id="spanEmail">@Model.userInfo.fEmail</span>
                            <a href="#" style="padding-left:20px; color:#e1bd85;" id="aEmail" onclick="updateEmail()">修改</a>
                            <input type="text" style=" display:none" id="txtEmail" placeholder="请输入新邮箱" class="input-text">
                            <br /><br />
                            <input type="text" style=" display:none" id="txtEmailCode" placeholder="请输入邮箱验证码" value="" class="input-text">
                            <p style=" text-align:right; width:100%; font-size:12px;">
                                <a href="#" style=" display:none" id="btnEmailCode" onclick="DoSendEmailCode()">发送验证码</a>
                            </p>
                            <a href="#" class="awe-btn awe-btn-13" style=" display:none" id="btnEmail" onclick="DoSaveEmail()">保存</a>


                            <label>密码<sup>*</sup></label>
                            <span id="spanPass">******</span><a href="#" style="padding-left:20px; color:#e1bd85;" id="aPass" onclick="updatePass()">修改</a>
                            <input type="text" style=" display:none" id="txtPass" value="" placeholder="请输入密码" class="input-text" />
                            <br />
                            <br />
                            <input type="text" style=" display:none" id="txtPass2" value="" placeholder="请再次输入密码" class="input-text" />
                            <a href="#" class="awe-btn awe-btn-13" style=" display:none" id="btnPass" style="width:20%;" onclick="DoSavePass()">保存</a>


                            @if (Model.teacherInfo != null && Model.teacherInfo.fStatus == "已认证")
                            {
                            <label>交易密码<sup>*</sup></label>
                            <span id="spanTradePass">******</span><a href="#" style="padding-left:20px; color:#e1bd85;" id="aTradePass" onclick="updateTradePass()">修改</a>

                            <input type="text" style=" display:none" id="txtTradePass" value="" class="input-text" />
                            <a href="#" class="awe-btn awe-btn-13" style=" display:none" id="btnTradePass" style="width:20%;" onclick="DoSaveTradePass()">保存</a>
                            }







                        </div>
                        @if (Model.userRole == "Teacher")
                        {
                            <div class="reservation-billing-detail" id="panelTeacher" style=" display:none">

                                <label>状态</label>
                                <span>@Model.teacherInfo.fStatus</span>
                                @if (Model.teacherInfo.fStatus == "已认证")
                                {
                                <label>真实姓名</label>
                                <span>@Model.userInfo.fName</span>
                                <label>证件号码</label>
                                <span>@Model.userInfo.fUID</span>
                                }

                                <label>简要介绍</label>
                                <textarea class="input-textarea" id="txtTeacherDesc" placeholder="请输入老师介绍信息">@Model.teacherInfo.fDesc</textarea>

                                <label>微信二维码</label>
                                @if (string.IsNullOrEmpty(Model.teacherInfo.fQrCode))
                                {

                                <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/fang" id="imgQrCode" data-reveal-id="myModal" onclick="UploadFile('@Model.userInfo.fUserName','QrCode','hidQrCode','','imgQrCode')" alt="">
                                }
                                else
                                {
                                <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.teacherInfo.fQrCode?x-oss-process=style/fang" id="imgQrCode" data-reveal-id="myModal" onclick="UploadFile('@Model.userInfo.fUserName','QrCode','hidQrCode','','imgQrCode')" alt="">
                                }
                                <input type="hidden" id="hidQrCode" value="@Model.teacherInfo.fQrCode" />


                                <input type="hidden" input-radio" checked="checked" id="chkLives" />
                                <input type="hidden" class="input-radio" checked="checked" id="chkClassRoom" />
                                <input type="hidden" id="txtVideoFee" value="" class="input-text" />
                                @*<label>开通功能</label>
                                    <ul class="option-bank">
                                        <li>
                                            <label class="label-radio">
                                                @if (Model.teacherInfo.fIsClassRoom)
                                                  {
                                                    <input type="checkbox" class="input-radio" checked="checked" id="chkClassRoom" />
                                                  }
                                                  else
                                                  {
                                                    <input type="checkbox" class="input-radio" id="chkClassRoom" />
                                                  }

                                                在线课堂
                                            </label>
                                            <p>用实时音视频、交互式白板涂鸦、IM 聊天室、PPT 课件共享、屏幕分享、录制回放进行在线教学。</p>

                                        </li>

                                        <li>
                                            <label class="label-radio">
                                                @if (Model.teacherInfo.fIsLive)
                                                  {
                                                    <input type="checkbox" class="input-radio" checked="checked" id="chkLives" />
                                                  }
                                                  else
                                                  {
                                                    <input type="checkbox" class="input-radio" id="chkLives" />
                                                  }
                                                在线辅导
                                            </label>
                                            <p>
                                                老师以一对一或一对多的形式，使用在线课堂进行不定时长的在线辅导，在使
                                                用前，需要预充值，课站平台按 0.15元/人每分钟收取平台使用费（人数是老师
                                                +学生的总数），辅导结束后，学生按老师设定的价格和实际使用时间和老师账
                                                户结算
                                            </p>

                                            <label>收费价格<sup>*</sup></label>
                                            <input type="number" id="txtVideoFee" value="@Model.teacherInfo.fVideoFee" class="input-text" />

                                        </li>

                                        <li>
                                                <label class="label-radio">
                                                 @if (Model.teacherInfo.fIsProblem)
                                                 {
                                                    <input type="checkbox" class="input-radio" checked="checked" id="chkProblem" />
                                                 }
                                                 else
                                                 {
                                                    <input type="checkbox" class="input-radio" id="chkProblem" />
                                                 }
                                                    在线答疑
                                                </label>

                                                <label>收费价格<sup>*</sup></label>
                                                <input type="text" id="txtProblemFee" value="@Model.teacherInfo.fProblemFee" class="input-text"/>

                                            </li>

                                    </ul>*@
                                <br />
                                <br />
                                <button class="awe-btn awe-btn-13" onclick="SaveTeacherInfo()">保存</button>


                            </div>


                            <div class="reservation-billing-detail" id="panelValid" style=" display:none">
                                <a href="/Teacher/ValidUploadFile" class="awe-btn awe-btn-default">新增认证</a>

                                @if (Model.validInfo.detailList != null)
                                {
                                    <a href="/User/ValidList" class="awe-btn awe-btn-default">认证记录</a>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="reservation-room_package">

                                        <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

                                            <!-- ITEM PACKAGE -->
                                            @foreach (var detail in Model.validInfo.detailList)
                                            {
                                                <div class="reservation-package_item">

                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@detail.fTeachCert1" alt=""></a>
                                                    </div>

                                                    <div class="reservation-package_text">

                                                        <h4><a href="#">@detail.fCertType </a></h4>
                                                        <p>
                                                            @if (detail.fStatus == "已审核")
                                                            {
                                                                if (detail.fCertType == "教师证")
                                                                {
                                                                    string strPharse = "";
                                                                    if (detail.fPharse == "1")
                                                                    {
                                                                        strPharse = "小学";
                                                                    }
                                                                    else if (detail.fPharse == "2")
                                                                    {
                                                                        strPharse = "初中";
                                                                    }
                                                                    else if (detail.fPharse == "3")
                                                                    {
                                                                        strPharse = "高中";
                                                                    }
                                                                    else if (detail.fPharse == "4")
                                                                    {
                                                                        strPharse = "大学";
                                                                    }


                                                                    <span>证书编号：@detail.fCertNo</span>
                                                                    <br />
                                                                    <span>学段：@strPharse</span>
                                                                    <br />
                                                                    <span>学科：@detail.fSubject</span>
                                                                }
                                                                <br />
                                                                <span>审核时间：@detail.fValidDate.ToString()</span>
                                                             
                                                            }
                                                            else
                                                            {
                                                                <span>原因：@detail.fNote</span>
                                                                <br />
                                                                <span>审核时间：@detail.fValidDate.ToString()</span>
                                                             
                                                            }
                                                        </p>

                                                        @*<div class="reservation-package_book-price">
                                                                <a href="/user/validinfo?iValidID=@valid.fID" class="awe-btn awe-btn-default">详情</a>
                                                            </div>*@

                                                    </div>

                                                </div>
                                            }
                                            <!-- END / ITEM PACKAGE -->
                                        </div>

                                    </div>


                                }

                                @*@if (Model.validHistory.validList != null)
                                    {
                                        <div class="reservation-room_package">

                                            <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">
                                                @foreach (var valid in Model.validHistory.validList)
                                                {
                                                    <div class="reservation-package_item">


                                                        <div class="reservation-package_text">

                                                            <h4><a href="#">@valid.fName </a></h4>
                                                            <p>
                                                                上传时间:@valid.fCreateDate.ToString()
                                                                <br />
                                                            </p>

                                                            <div class="reservation-package_book-price">
                                                                <a href="/user/validinfo?iValidID=@valid.fID" class="awe-btn awe-btn-default">详情</a>
                                                            </div>

                                                        </div>

                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    }*@


                            </div>



                        }
                        else if (Model.userRole == "Student")
                        {


                            <div class="reservation-billing-detail" id="panelStudent" style=" display:none">
                                <label>学段<sup>*</sup></label>
                                <div class="shortcode-select">
                                    @Html.DropDownListFor(m => m.studentInfo.Pharse, new[] { new SelectListItem { Text = "请选择", Value = "" },
                                                                                              new SelectListItem { Text = "小学", Value = "1" },
                                                                                              new SelectListItem { Text = "初中", Value = "2" },
                                                                                              new SelectListItem { Text = "高中", Value = "3" },
                                                                                              new SelectListItem { Text = "大学", Value = "4" }}, new { @class = "awe-select", id = "cmbPharse" })

                                </div>
                                <label>学校<sup>*</sup></label>
                                <input type="text" id="txtSchool" value="@Model.studentInfo.School" class="input-text">
                                <label>年级<sup>*</sup></label>
                                <input type="text" id="txtGrade" value="@Model.studentInfo.Grade" class="input-text">


                                <button class="awe-btn awe-btn-13" onclick="SaveStudentInfo()">保存</button>

                            </div>
                        }
                        else if (Model.userRole == "Parents")
                        {

                            <div class="reservation-billing-detail" id="panelParents" style=" display:none">


                            </div>
                        }
                    </div>

                </div>
                <!-- END / CONTENT -->



            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    function showPanel(div) {
        if (div == "user") {
            $(".reservation-billing-detail").hide();
            $("#panelUser").show();
        } else if (div == "teacher") {
            $(".reservation-billing-detail").hide();
            $("#panelTeacher").show();
        } else if (div == "valid") {
            $(".reservation-billing-detail").hide();
            $("#panelValid").show();
        } else if (div == "student") {
            $(".reservation-billing-detail").hide();
            $("#panelStudent").show();
        } else if (div == "parents") {
            $(".reservation-billing-detail").hide();
            $("#panelParents").show();
        }
    }

    function updateMobile() {
        // $("#spanMobile").hide();
        $("#aMobile").hide();
        $("#txtMobile").show();
        $("#txtCode").show();
        $("#btnCode").show();
        $("#btnMobile").show();
        $("#txtMobile").focus();
    }




    var flag = 0;
    var time_ok = get_time_add(0);
    var time_hd = 0;

    function left_time() {
        var rst = 0;
        var now = get_time_add(0);
        if (now < time_ok) rst = Math.floor((time_ok - now) / 1000);
        return rst;
    }

    function get_time_add(val) {
        val = parseInt(val);
        var rst = (new Date()).getTime() + val * 1000;
        return rst;
    }


    function time_fun() {
        updateLabNo();
    }


    $(document).ready(function () {
        updateLabNo();
        time_hd = setInterval("time_fun()", 1000);
    });


    function updateLabNo() {
        var str = "";
        if (flag == 0) {
            str = "获取验证码";
        } else if (flag == 1) {
            str = "验证码已发送";
        }

        var tm = left_time();
        if (tm > 0) {
            str = str + "(" + tm + ")";
        } else if (flag == 1) {
            str = "重新获取验证码";
        }

        $("#btnCode").text(str);
    }


    function DoSendCode() {
        var reg = /^0?1[3|4|5|7|8][0-9]\d{8}$/;

        if ($("#txtMobile").val() == "") {
            alert("请输入联系手机");
            $("#txtMobile").focus();
            return;
        } else if (!reg.test($("#txtMobile").val())) {
            alert("手机号格式错误，请重新输入");
            $("#txtMobile").focus();
            return;
        }


        var tm = left_time();
        if (tm > 0) {
            alert("请在 " + tm + " 秒后再次点击发送");
            return;
        }

        $.ajax({
            url: "/Request/DoSendCode",
            data: { "strMobile": $("#txtMobile").val() },
            type: "POST",
            dataType: "json",
            success: function (rst) {

                if (rst.iResult >= 0) {
                    $("#txtMobile").attr("disabled", true);
                    $("#txtCode").attr("disabled", false);
                    flag = 1;
                    time_ok = get_time_add(30);
                    updateLabNo();

                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }



    function DoSaveMobile() {
        if ($("#txtCode").val() == "") {
            alert("请输入验证码");
            return;
        }

        $.ajax({
            url: "/LoginRequest/DoUpdateMobile",
            data: { "strMobile": $("#txtMobile").val(), "strCode": $("#txtCode").val() },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    // window.location.href = "/user/userinfoedit";
                    alert("保存成功");
                    window.location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }



    function updateEmail() {
        $("#aEmail").hide();
        $("#txtEmail").show();
        $("#btnEmailCode").show();
        $("#txtEmailCode").show();
        $("#btnEmail").show();
        $("#txtEmail").focus();
    }

    function DoSendEmailCode() {
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;

        if ($("#txtEmail").val() == "") {
            alert("请输入邮箱");
            $("#txtEmail").focus();
            return;
        } else if (!reg.test($("#txtEmail").val())) {
            alert("邮箱格式错误，请重新输入");
            $("#txtEmail").focus();
            return;
        }


        var tm = left_time();
        if (tm > 0) {
            alert("请在 " + tm + " 秒后再次点击发送");
            return;
        }

        $.ajax({
            url: "/LoginRequest/DoSendEmailCode",
            data: { "strEmail": $("#txtEmail").val() },
            type: "POST",
            dataType: "json",
            success: function (rst) {

                if (rst.iResult >= 0) {
                    $("#txtEmail").attr("disabled", true);
                    $("#txtEmailCode").attr("disabled", false);
                    alert("验证邮件已发送，请注意查收");
                    flag = 1;
                    time_ok = get_time_add(30);
                    updateLabNo();

                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }



    function DoSaveEmail() {
        if ($("#txtEmailCode").val() == "") {
            alert("请输入邮箱验证码");
            return;
        }

        $.ajax({
            url: "/LoginRequest/DoUpdateEmail",
            data: { "strEmail": $("#txtEmail").val(), "strCode": $("#txtEmailCode").val() },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    window.location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }




    function updateNickName() {
        $("#spanNickName").hide();
        $("#aNickName").hide();
        $("#txtNickName").show();
        $("#btnNickName").show();
        $("#txtNickName").focus();
    }

    function DoSaveNickName() {
        SaveData("fNickName", $("#txtNickName").val());
    }

    function DoSaveHeadImg() {
        SaveData("fHeadImg", $("#hidHead").val());
    }


    function updatePass() {
        $("#spanPass").hide();
        $("#aPass").hide();
        $("#txtPass").show();
        $("#txtPass2").show();
        $("#btnPass").show();
        $("#txtPass").focus();
    }

    function DoSavePass() {
        if ($("#txtPass").val() == "") {
            alert("请输入新密码");
        } else if ($("#txtPass2").val() == "") {
            alert("请再次输入密码");
        } else if ($("#txtPass").val() == $("#txtPass2").val()) {
            SaveData("fPassWord", $("#txtPass").val());
        } else {
            alert("两次密码不一致，请重新输入");
        }
    }

    function updateTradePass() {
        $("#spanTradePass").hide();
        $("#aTradePass").hide();
        $("#txtTradePass").show();
        $("#btnTradePass").show();
        $("#txtTradePass").focus();
    }

    function DoSaveTradePass() {
        SaveData("fTradePassWord", $("#txtTradePass").val());
    }


    function updateCity() {
        $("#spanCity").hide();
        $("#aCity").hide();
        $("#txtCity").show();
        $("#btnCity").show();
        $("#txtCity").focus();
    }

    function DoSaveCity() {
        SaveData("fCity", $("#txtCity").val());
    }

    function SaveData(type, value) {
        $.ajax({
            url: "/LoginRequest/DoSaveInfo",
            data: { "strType": type, "strInfo": value },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    window.location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }

    function SaveTeacherInfo() {
        var TeacherBaseModel = {
            fDesc: $("#txtTeacherDesc").val(),
            fQrCode: $("#hidQrCode").val(),
            fIsClassRoom: $("#chkClassRoom").prop('checked'),
            fIsLive: $("#chkLives").prop('checked'),
            fIsProblem: $("#chkProblem").prop('checked'),
            fVideoFee: $("#txtVideoFee").val()
            //  ,
            //fProblemFee: $("#txtProblemFee").val()
        };

        $.ajax({
            url: "/LoginRequest/DoSaveTeacherInfo",
            data: TeacherBaseModel,
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    window.location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }

    function SaveStudentInfo() {
        var StudentBaseModel = {
            Pharse: $("#cmbPharse").val(),
            School: $("#txtSchool").val(),
            Grade: $("#txtGrade").val()
        };

        $.ajax({
            url: "/LoginRequest/DoSaveStudentInfo",
            data: StudentBaseModel,
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {

                    alert("保存成功");
                    window.location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }
</script>
