@{
    var userinfo = KeZhan.Code.Fun.GetSessionUserInfo(this);
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="../../Content/images/favicon.png" />
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700'
          rel='stylesheet' type='text/css'>
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/lib/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/helper.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/custom.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="../../Content/css/style.css?v=1.9">
    <link rel="stylesheet" type="text/css" href="../../Content/aizhu.css">
    <!--弹出层-->
    <link rel="stylesheet" href="../../Content/reveal.css?v=1.0">
    <script src="https://www.jq22.com/jquery/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.reveal.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"
            charset="utf-8"></script>
    <!--文件上传-->
    <link href="../../Content/FileUpload/css/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/FileUpload/css/fileUpload.css" rel="stylesheet" type="text/css">
    @RenderSection("otherHeadInfo", false)
    <style>
        body {
            font-family: "Microsoft YaHei", "iconfont" !important;
        }

        .errorMsg {
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            color: red;
        }
    </style>
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <![endif]-->
</head>
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body>
    <!--<![endif]-->
    <!-- PRELOADER -->
    <div id="preloader">
        <span class="preloader-dot"></span>
    </div>
    <!-- END / PRELOADER -->
    <!-- PAGE WRAP -->
    <div id="page-wrap">
        <!-- HEADER -->
        <header id="header" class="header-sticky">

            <!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">
                        @* <span><i class="lotus-icon-cloud"></i> 18 °C</span>
                            <span><i class="lotus-icon-location"></i> 225 Beach Street, Australian</span>
                            <span><i class="lotus-icon-phone"></i> 1-548-854-8898</span>*@
                    </div>
                    <div class="header_right float-right">

                        <span class="login-register">
                            @if (userinfo == null)
                            {
                                <a id="aLogin" href="/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()">登录</a>
                                <a id="aLogin" href="/open/StudentRegsiter?redirect_uri=@Request.Url.ToString()">注册</a>

                            }
                            else
                            {
                                if (string.IsNullOrEmpty(userinfo.fNickName))
                                {
                                    <a href="../user/userInfo">@userinfo.fMobile</a>
                                }
                                else
                                {
                                    <a href="../user/userInfo">@userinfo.fNickName</a>
                                }
                                @*if (userinfo.fRole == "Student")
                                    {
                                        <a id="aLogin" href="/User/UpdateRole">老师认证</a>
                                    }*@

                                <a href="../message/MessageList">系统消息<span id="spanNum"></span></a>
                                <a href="@Url.Content("/Open/IndexAction?strAction=signout")">退出</a>
                            }
                        </span>

                        @* <div class="dropdown currency">
                                <span>USD <i class="fa fa"></i></span>
                                <ul>
                                    <li class="active"><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </div>

                            <div class="dropdown language">
                                <span>ENG</span>

                                <ul>
                                    <li class="active"><a href="#">ENG</a></li>
                                    <li><a href="#">FR</a></li>
                                </ul>
                            </div>*@

                    </div>
                </div>
            </div>
            <!-- END / HEADER TOP -->
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content" style="box-shadow: 0 1px 8px 0 rgba(0,0,0,0.58)">

                <div class="container">
                    <!-- HEADER LOGO -->
                    <div class="header_logo">
                        <a href="#"><img src="../../Content/images/header_logo.jpg" alt=""></a>
                    </div>
                    <!-- END / HEADER LOGO -->
                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">

                            <li @if ((controller.ToLower() == "open" && action.ToLower() == "classroomlist") || (controller.ToLower() == "open" && action.ToLower() == "classroomlist")) { <text> class="current-menu-item" </text>           }><a href="../Open/ClassRoomList">K12课程</a></li>
                            <li @if (controller.ToLower() == "open" && action.ToLower() == "classroomlist2") { <text> class="current-menu-item" </text>            }>
                                <a href="../Open/ClassRoomList2">素质与拓展</a>
                            </li>
                            <li @if (controller.ToLower() == "open" && action.ToLower() == "classroomlist3") { <text> class="current-menu-item" </text>            }><a href="../Open/ClassRoomList3">职业与技能</a></li>


                            <li @if (controller.ToLower() == "start") { <text> class="current-menu-item" </text>            }>
                                <a href="#">上课<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li @if (controller.ToLower() == "start" && action.ToLower() == "myclassroomlist") { <text> class="current-menu-item" </text>            }><a href="../Start/MyClassRoomList?strClassType=buy">我购买的</a></li>
                                    @if (userinfo != null && userinfo.fRole == "Teacher")
                                    {
                                        <li @if (controller.ToLower() == "start" && action.ToLower() == "myclassroomlist") { <text> class="current-menu-item" </text>              }><a href="../Start/MyClassRoomList?strClassType=teacher">我是老师</a></li>
                                        <li @if (controller.ToLower() == "start" && action.ToLower() == "createonlineclass") { <text> class="current-menu-item" </text>                 }><a href="../Start/CreateOnLineClass" target="_blank">在线课堂</a></li>

                                    }
                                    else
                                    {
                                        <li @if (controller.ToLower() == "start" && action.ToLower() == "onlineclass") { <text> class="current-menu-item" </text>                 }><a href="../Start/OnLineClass" target="_blank">在线课堂</a></li>

                                    }
                                </ul>
                            </li>
                            @if (userinfo != null)
                            {
                                <li @if (controller.ToLower() == "user") { <text> class="current-menu-item" </text>            }>
                                    <a href="#">我的 <span class="fa fa-caret-down"></span></a>
                                    <ul class="sub-menu">
                                        <li @if (controller.ToLower() == "user" && action.ToLower() == "userinfo") { <text> class="current-menu-item" </text>            }><a href="../User/UserInfo">个人信息</a></li>
                                        <li @if (controller.ToLower() == "user" && action.ToLower() == "bookinglist") { <text> class="current-menu-item" </text>            }><a href="../User/bookingList">我的订单</a></li>
                                        @if (userinfo.fRole == "Teacher")
                                        {
                                            <li @if (controller.ToLower() == "user" && action.ToLower() == "useraccount") { <text> class="current-menu-item" </text>             }><a href="../User/UserAccount">交易明细</a></li>
                                        }

                                    </ul>
                                </li>
                                if (userinfo.fRole == "Teacher")
                                {
                                    <li @if (controller.ToLower() == "classroom") { <text> class="current-menu-item" </text>           }>
                                        <a href="#">课程管理 <span class="fa fa-caret-down"></span></a>
                                        <ul class="sub-menu">
                                            <li @if (controller.ToLower() == "classroom" && action.ToLower() == "classroomadd") { <text> class="current-menu-item" </text>             }><a href="../ClassRoom/ClassRoomAdd">新增课程</a></li>
                                            <li @if (controller.ToLower() == "classroom" && action.ToLower() == "classroommanager") { <text> class="current-menu-item" </text>            }><a href="../ClassRoom/ClassRoomManager">课程列表</a></li>

                                        </ul>
                                    </li>
                                    <li @if (controller.ToLower() == "teacher") { <text> class="current-menu-item" </text>            }>
                                        <a href="#">老师 <span class="fa fa-caret-down"></span></a>
                                        <ul class="sub-menu">
                                            <li @if (controller.ToLower() == "teacher" && action.ToLower() == "userpay") { <text> class="current-menu-item" </text>            }><a href="../Teacher/UserPay">购买流量</a></li>

                                            <li @if (controller.ToLower() == "teacher" && action.ToLower() == "userbankmanager") { <text> class="current-menu-item" </text>             }><a href="../Teacher/UserBankManager">银行账户</a></li>
                                            <li @if (controller.ToLower() == "teacher" && action.ToLower() == "userrefundlist") { <text> class="current-menu-item" </text>              }><a href="../Teacher/UserRefundList">退款管理</a></li>
                                            <li @if (controller.ToLower() == "teacher" && action.ToLower() == "usermemberlist") { <text> class="current-menu-item" </text>              }><a href="../Teacher/UserMemberList">合作邀请</a></li>

                                        </ul>
                                    </li>
                                }
                                else if (userinfo.fRole == "Student")
                                {
                                    <li @if (controller.ToLower() == "html" && action.ToLower() == "updaterole") { <text> class="current-menu-item" </text>              }>
                                        <a href="/html/UpdateRole">成为老师 <span class="fa fa-caret-down"></span></a>
                                    </li>
                                }
                                else if (userinfo.fRole == "Manager")
                                {
                                    <li @if (controller.ToLower() == "manager") { <text> class="current-menu-item" </text>           }>
                                        <a href="#">管理 <span class="fa fa-caret-down"></span></a>
                                        <ul class="sub-menu">
                                            <li @if (controller.ToLower() == "manager" && action.ToLower() == "validmanager") { <text> class="current-menu-item" </text>           }><a href="../Manager/ValidManager">认证管理</a></li>
                                            <li @if (controller.ToLower() == "manager" && action.ToLower() == "classroomapplymanager") { <text> class="current-menu-item" </text>            }><a href="../Manager/ClassRoomApplyManager">课程管理</a></li>
                                            <li @if (controller.ToLower() == "manager" && action.ToLower() == "teacherwithdrawalmanager") { <text> class="current-menu-item" </text>             }><a href="../Manager/TeacherWithdrawalManager">提现管理</a></li>
                                            <li @if (controller.ToLower() == "manager" && action.ToLower() == "flowadjust") { <text> class="current-menu-item" </text>              }><a href="../Manager/FlowAdjust">赠送流量</a></li>
                                            <li @if (controller.ToLower() == "manager" && action.ToLower() == "bookinglistmanager") { <text> class="current-menu-item" </text>          }><a href="../Manager/BookingListManager">报名记录</a></li>
                                        </ul>
                                    </li>
                                }

                            }

                            <li @if (controller.ToLower() == "html" && action.ToLower() == "about") { <text> class="current-menu-item" </text>           }>
                                <a href="/Html/About">关于 </a>

                            </li>
                            @if (userinfo == null)
                            {
                                <li @if (controller.ToLower() == "open" && action.ToLower() == "regsiterlogin") { <text> class="current-menu-item" </text>           }>
                                    <a href="/Open/RegsiterLogin?redirect_uri=@Request.Url.ToString()">登录 </a>
                                </li>
                            }


                        </ul>
                    </nav>
                    <!-- END / HEADER MENU -->
                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->

                </div>
            </div>
            <!-- END / HEADER LOGO & MENU -->

        </header>
        <!-- END / HEADER -->
        <section class="section-sub-banner" style="background-color:#232323;padding-top: 100px;">
            <div class="awe-overlay"></div>
            @*<div class="sub-banner">
                    <div class="container">
                        <div class="text text-center">
                            <h2>ACTIVITI</h2>
                            <p>Lorem Ipsum is simply dummy text</p>
                        </div>
                    </div>
                </div>*@
        </section>
        @RenderBody()
        <!-- FOOTER -->
        <footer id="footer">


            <!-- END / FOOTER TOP -->
            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href="#"><img style="width:120px; height:103px;" src="../../Content/images/logo-footer.png" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i> 上海市徐汇区</p>
                                        <p><i class="lotus-icon-phone"></i> 021-54590428</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:hello@thelotushotel.com">service@aizhusoft.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">网站导航</h4>
                                <ul>
                                    <li><a href="/open/ClassRoomList">K12课程</a></li>
                                    <li><a href="/start/MyClassRoomList?strClassType=buy">上课</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">帮助中心</h4>
                                <ul>
                                    <li><a href="/html/QAInfo">常见问题</a></li>
                                    <li><a href="/html/WebInfo">服务协议</a></li>
                                    <li><a href="/Html/About">关于</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xs-4 col-lg-3">
                            <div class="widget widget_tripadvisor">
                                <h4 class="widget-title">课站公众号</h4>
                                <div class="tripadvisor">
                                    <img width="100" height="100" src="~/Content/image/WeiXinPublic.jpg" />
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->
            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>
                        Copyright  2018-2019 Aizhu All Rights Reserved. 沪ICP备 12017440号-4
                    </p>
                    @*<p><img src="../../Content/images/icp.png">沪公网安备 31010402001310号</p>*@
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->
    </div>
    <!-- END / PAGE WRAP -->
    <!--上传文件 -->
    <div id="myModal" class="reveal-modal">
        <h1>
            文件上传
        </h1>
        <p>
            @*<span>请将文档压缩后上传，支持rar,zip,7z格式</span>*@
            <div id="fileUploadContent" class="fileUploadContent">
            </div>
            <button id="btnSuccessClose" style="display: none">
                完成
            </button>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="myMessage" class="reveal-modal" style="top: 300px; opacity: 1; visibility: visible; display:none;">
        <h1 id="myTitle"></h1>
        <p id="myContent" style="min-height:250px;overflow-y:auto;max-height:300px;">

        </p>
        <a class="close-reveal-modal" onclick="CloseMessage()">&#215;</a>
    </div>
    <div class="reveal-modal-bg" id="myBGDiv" style="display: none;"></div>
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="../../Scripts/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/bootstrap-select.js"></script>
    <script src="https://ditu.google.cn/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/lib/SmoothScroll.js"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="../../Scripts/js/scripts.js"></script>
    <script src="https://www.jq22.com/js/jq.js"></script>
    @RenderSection("otherFooterInfo", false)
    <script type="text/javascript">
        function is_weixn() {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                return true;
            } else {
                return false;
            }
        }

        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                      "SymbianOS", "Windows Phone",
                      "iPad", "iPod"];
            var flag = true;

            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
        }

        $(document).ready(function () {
            //      if (is_weixn()) {
            //        $("#aLogin").hide();
            //      }

            setInterval(function () {
                $.ajax({
                    url: "/Request/GetMessageCount",
                    type: this.method,
                    data: {},
                    success: function (rst) {
                        if (rst.iResult > 0) {
                            $("#spanNum").text(rst.iResult);
                        } else {
                            $("#spanNum").text("");
                        }
                    }
                });
            }, 5000)
        })

        function ShowMessage(title, content) {
            $("#myBGDiv").show();
            $("#myMessage").show();
            $("#myTitle").text(title);
            $("#myContent").text(content);
        }
        function CloseMessage() {
            $("#myBGDiv").hide();
            $("#myMessage").hide();
            $("#myTitle").text("");
            $("#myContent").text("");
        }


    </script>
    <script type="text/javascript">
        var elementFileId = "";
        var elementSaveID = "";
        var elementImgID = "";
        function UploadFile(username, filetype, elementid, saveid, obj) {

            elementFileId = elementid;
            elementSaveID = saveid;
            elementImgID = obj;

            $("#fileUploadContent").initUpload({
                "uploadUrl": "../../Handel/OssUpload.ashx?UserName=" + username + "&FileType=" + filetype, //上传文件信息地址
                "progressUrl": "#", //获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
                "selfUploadBtId": "selfUploadBt", //自定义文件上传按钮id
                "isHiddenUploadBt": false, //是否隐藏上传按钮
                "isHiddenCleanBt": false, //是否隐藏清除按钮
                "isAutoClean": false, //是否上传完成后自动清除
                "velocity": 10, //模拟进度上传数据
                //"rememberUpload":true,//记住文件上传
                // "showFileItemProgress":false,
                //"showSummerProgress":false,//总进度条，默认限制
                "scheduleStandard": false, //模拟进度的方式，设置为true是按总进度，用于控制上传时间，如果设置为false,按照文件数据的总量,默认为false
                //"size":350,//文件大小限制，单位kb,默认不限制
                "maxFileNumber": 1, //文件个数限制，为整数
                //"filelSavePath":"",//文件上传地址，后台设置的根目录
                //"beforeUpload":beforeUploadFun,//在上传前执行的函数
                "onUpload": onUploadFun, //在上传后执行的函数
                //autoCommit:true,//文件是否自动上传
                "fileType": ['png', 'jpg']//文件类型限制，默认不限制，注意写的是文件后缀

            });
        }

        function onUploadFun(opt, data) {

            if (elementFileId != "") {
                $("#" + elementFileId).val(data);
                $("#" + elementSaveID).show();
                $("#" + elementImgID).attr("src", "https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/" + data + "?x-oss-process=style/width");
                $("#btnSuccessClose").click();
            } else {
                alert("error");
            }

            //  uploadTools.uploadError(opt);//显示上传错误
        }


        function UploadMediaFile(username, filetype, courseid) {

            $("#fileUploadContent").initUpload({
                "uploadUrl": "../../Handel/OssUpload.ashx?UserName=" + username + "&FileType=" + filetype, //上传文件信息地址
                "progressUrl": "#", //获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
                "selfUploadBtId": "selfUploadBt", //自定义文件上传按钮id
                "isHiddenUploadBt": false, //是否隐藏上传按钮
                "isHiddenCleanBt": false, //是否隐藏清除按钮
                "isAutoClean": false, //是否上传完成后自动清除
                "velocity": 10, //模拟进度上传数据
                //"rememberUpload":true,//记住文件上传
                // "showFileItemProgress":false,
                //"showSummerProgress":false,//总进度条，默认限制
                //"scheduleStandard":true,//模拟进度的方式，设置为true是按总进度，用于控制上传时间，如果设置为false,按照文件数据的总量,默认为false
                //"size":350,//文件大小限制，单位kb,默认不限制
                "maxFileNumber": 1, //文件个数限制，为整数
                //"filelSavePath":"",//文件上传地址，后台设置的根目录
                //"beforeUpload":beforeUploadFun,//在上传前执行的函数
                "onUpload": function (opt, data) { SaveClassRoom(username, courseid, opt, data); }, //在上传后执行的函数
                //autoCommit:true,//文件是否自动上传
                "fileType": ['mp4', 'wmv']//文件类型限制，默认不限制，注意写的是文件后缀

            });
        }

        function SaveClassRoom(username, courseID, opt, data) {

            var CourseModel = {
                "fID": courseID,
                "fResourceUrl": data,
                "fAuthor": username
            }

            $.ajax({
                url: "/LoginRequest/DoSaveUploadFile",
                data: CourseModel,
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        alert("上传成功");
                        $("#btnSuccessClose").click();
                    } else if (rst.iResult == -9999) {
                        alert("请重新登录");
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        }


        function UploadCourseDocumentFile(username, filetype, courseid) {

            $("#fileUploadContent").initUpload({
                "uploadUrl": "../../Handel/OssUpload.ashx?UserName=" + username + "/" + courseid + "&FileType=" + filetype, //上传文件信息地址
                "progressUrl": "#", //获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
                "selfUploadBtId": "selfUploadBt", //自定义文件上传按钮id
                "isHiddenUploadBt": false, //是否隐藏上传按钮
                "isHiddenCleanBt": false, //是否隐藏清除按钮
                "isAutoClean": false, //是否上传完成后自动清除
                "velocity": 10, //模拟进度上传数据
                //"rememberUpload":true,//记住文件上传
                // "showFileItemProgress":false,
                //"showSummerProgress":false,//总进度条，默认限制
                //"scheduleStandard":true,//模拟进度的方式，设置为true是按总进度，用于控制上传时间，如果设置为false,按照文件数据的总量,默认为false
                //"size":350,//文件大小限制，单位kb,默认不限制
                "maxFileNumber": 1, //文件个数限制，为整数
                //"filelSavePath":"",//文件上传地址，后台设置的根目录
                //"beforeUpload":beforeUploadFun,//在上传前执行的函数
                "onUpload": function (opt, data) { SaveCourse(username, courseid, opt, data); }, //在上传后执行的函数
                "autoCommit": true,//文件是否自动上传
                "fileType": ['rar', 'zip', '7z']//文件类型限制，默认不限制，注意写的是文件后缀

            });
        }

        function SaveCourse(username, courseID, opt, data) {

            var CourseModel = {
                "fID": courseID,
                "fDocoumentUrl": data
            }

            $.ajax({
                url: "/LoginRequest/DoSaveCourseDocument",
                data: CourseModel,
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        alert("上传成功");
                        $("#btnSuccessClose").click();
                    } else if (rst.iResult == -9999) {
                        alert("请重新登录");
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });
        }

        function beforeUploadFun(opt) {
            opt.otherData = [{ "name": "你要上传的参数", "value": "你要上传的值" }];
        }


        function testUpload() {
            var opt = uploadTools.getOpt("fileUploadContent");
            uploadEvent.uploadFileEvent(opt);
        }
        function tt() {
            var opt = uploadTools.getOpt("fileUploadContent");
            uploadTools.uploadError(opt); //显示上传错误
        }

        //显示文件，设置删除事件
        // uploadTools.showFileResult("fileUploadContent","img/a2.png","1",true,deleteFileByMySelf);
        //如果不需要删除
        // uploadTools.showFileResult("fileUploadContent","img/a3.png","1",false);
        //多文件需要自己进行循环
        function deleteFileByMySelf(fileId) {
            alert("要删除文件了：" + fileId);
        }


    </script>
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../Content/FileUpload/js/fileUpload.js"></script>
</body>

</html>
