@model TiKuBll.Model.ClassRoomModel
@{
    ViewBag.Title = "课站";
    bool isEdit = "结算;下线;发布;发布中;下线中".Contains(@Model.fStatus) ? false : true;

    bool isCreateOpr = Model.fCreateOpr == Model.UserName ? true : false;
}

<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">
            @*<div class="reservation_step">
                    <ul>
                        <li><a href="#"><span>1.</span>  基本信息</a></li>

                        <li class="active"><a href="#"><span>2.</span> 基本信息</a></li>
                        <li><a href="#"><span>3.</span> 资质认证</a></li>
                        <li><a href="#"><span>4.</span> 完成</a></li>

                    </ul>
                </div>*@



            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li class="active" onclick="showPanel('info')"><a href="#" style=" width:100%;" data-toggle="tab">课程信息设置</a></li>
                        @if (Model.fID > 0)
                        {
                            @*<li onclick="showPanel('desc')"><a href="#" style=" width:100%;" data-toggle="tab">介绍信息</a></li>*@
                            <li onclick="showPanel('courseEdit')"><a href="#" style=" width:100%;" data-toggle="tab">课时信息设置</a></li>
                            if (Model.fStatus == "保存")
                            {
                                <li onclick="ShowDetail('@Model.fClassRoomCode')"><a href="#" style=" width:100%;" data-toggle="tab">课程预览发布</a></li>
                            }
                            if (Model.fStatus == "发布")
                            {
                                <li onclick="showPanel('booking')"><a href="#" style=" width:100%;" data-toggle="tab">报名记录</a></li>
                                <li onclick="showPanel('private')"><a href="#" style=" width:100%;" data-toggle="tab">推广链接</a></li>
                                <li onclick="showPanel('update')"><a href="#" style=" width:100%;" data-toggle="tab">更换授课老师</a></li>
                            }
                            if (Model.fStatus == "结算")
                            {
                                <li onclick="showPanel('account')"><a href="#" style=" width:100%;" data-toggle="tab">账单明细</a></li>
                            }
                            <li onclick="showPanel('qa')"><a href="#" style=" width:100%;" data-toggle="tab">课程设置词汇表</a></li>
                        }
                    </ul>

                    <div class="reservation-sidebar_availability bg-gray" style="display:none;" id="divBookingQuery">

                        <!-- HEADING -->
                        <h2 class="reservation-heading">订单记录</h2>
                        <!-- END / HEADING -->
                        @*<h5 class="check_availability_title">your stay dates</h5>*@

                        <div class="check_availability-field">
                            <label>开始日期</label>
                            <input type="text" id="txtBeginDate" class="awe-calendar awe-input" placeholder="开始日期">
                        </div>

                        <div class="check_availability-field">
                            <label>结束日期</label>
                            <input type="text" id="txtEndDate" class="awe-calendar awe-input to" placeholder="结束日期">
                        </div>


                        <div class="check_availability-field">
                            <label>状态</label>
                            <select class="awe-select" id="cmbStatus">
                                <option value="">全部</option>
                                <option value="提交">提交</option>
                                <option value="已支付">已支付</option>
                                <option value="退款中">退款中</option>
                                <option value="已退款">已退款</option>
                                <option value="已驳回">已驳回</option>
                                <option value="已取消">已取消</option>
                            </select>
                        </div>

                        <div class="check_availability-field">
                            <label>手机号</label>
                            <input type="text" class="input-text" style="width:100%;" id="txtMobile" placeholder="手机号" />
                        </div>
                        <button class="awe-btn awe-btn-13" onclick="QueryBookingList()">查询</button>

                    </div>
                </div>


                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">
                        <p class="alert alert-danger" id="pMsg" style=" display:none">

                        </p>
                        @if (isEdit)
                        {
                            <div class="reservation-billing-detail" id="panelData">


                                @*<h5>基本信息</h5>*@
                                @Html.HiddenFor(m => m.fID)

                                <label>课程名称<sup>*</sup></label>
                                <input type="text" id="txtTitle" value="@Model.fClassRoomTitle" class="input-text">


                                <label>封面<sup>*</sup></label>

                                @if (!string.IsNullOrEmpty(Model.fCoverImg))
                                {
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fCoverImg?x-oss-process=style/fang" id="imgCover" data-reveal-id="myModal" onclick="UploadFile('@Model.UserName','ClassRoomCover','hidConver','','imgCover')" alt="">
                                }
                                else
                                {
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/fang" id="imgCover" data-reveal-id="myModal" onclick="UploadFile('@Model.UserName','ClassRoomCover','hidConver','','imgCover')" alt="">
                                } <input type="hidden" id="hidConver" value="@Model.fCoverImg" />


                                <label>课程简介</label>
                                <textarea class="input-textarea" id="txtInfo" maxlength="50" placeholder="课程简介是提要性的，限字数在50个汉字以内">@Model.fInfo</textarea>
                                <span style="color:red">最多50个汉字</span>
                                <label>图文详情</label>
                                <span style="font-size:12px;">推荐使用第三方，比如135编辑器，制作长图文，支持JPG、JPEG格式，图片尺寸要求小于20M</span>
                                <br /><br />
                                @if (Model.descList != null && Model.descList.Count > 0)
                                {
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.descList[0].fContent?x-oss-process=style/fang" alt="" />
                                    <input type="hidden" id="hidDescID" value="@Model.descList[0].fID" />
                                    <input type="hidden" id="hidDesc" value="@Model.descList[0].fContent" />
                                }
                                else
                                {
                                    <img id="fileUploadDesc" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ImageUpload.jpg?x-oss-process=style/fang" data-reveal-id="myModal" onclick="UploadFile('@Model.fCreateOpr','ClassRoomDesc','hidDesc','','fileUploadDesc')" alt="">

                                    <input type="hidden" id="hidDescID" value="0" />
                                    <input type="hidden" id="hidDesc" />
                                }

                                <label>是否公开<sup>*</sup></label>

                                @Html.DropDownListFor(m => m.fClassType, new[] { new SelectListItem { Text = "请选择", Value = "请选择" },
                                                                                              new SelectListItem { Text = "公开课", Value = "Public" },
                                                                                              new SelectListItem { Text = "私课", Value = "Private" }}, new { @class = "awe-select", id = "cmbClassType", onchange = "ChangeType()" })








                                @Html.Partial("../ClassRoom/TeacherSelect", new KeZhan.Models.TeacherModel { fUserName = @Model.fTecharUserName, fPharse = @Model.fPharse, fSubject = @Model.fSubject })


                                @*<label>知识点<sup>*</sup></label>
                                    <input type="text" id="txtKnowLedge" value="@Model.fKnowLedge" class="input-text">*@


                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>原价<sup>*</sup></label>
                                        <input type="number" id="txtBasePrice" value="@Model.fBasePrice" class="input-text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>售价<sup>*</sup></label>
                                        <input type="number" id="txtPrice" value="@Model.fPrice" class="input-text">
                                    </div>
                                </div>





                                @*<div class="row">
                                        <div class="col-sm-6">
                                            <label>截止报名时间<sup>*</sup></label>

                                            @Html.Partial("../Control/Date", new WebEdu.Models.DateModel { isTime = "false", dateID = "txtDeadLineDate", date = Model.fDeadLineDate.ToString("yyyy-MM-dd"), datePlaceholder = "截止报名时间" })
                                        </div>
                                    </div>*@



                                <label>最大人数（超过最大人数停止销售，如果不限制人数，可以设置个大数字）</label>
                                <input type="number" id="txtMaxNumber" value="@Model.fMaxNumber" class="input-text">





                                <label>支付类型<sup>*</sup></label>
                                @Html.DropDownListFor(m => m.fPayType, new[] { new SelectListItem { Text = "请选择", Value = "请选择" },
                                                                                              new SelectListItem { Text = "线下支付", Value = "线下支付" },
                                                                                              new SelectListItem { Text = "在线支付", Value = "在线支付" }}, new { @class = "awe-select", id = "cmbPayType", onchange = "changePayType()" })



                                <label id="labisrefund" style="display:none;">是否可退<sup>*</sup></label>
                                <select style="width:100%; height:42px; display:none;" id="cmbIsReturn" onchange="changeIsRefund()">
                                    <option value="false">否</option>
                                    <option value="true">是</option>
                                </select>

                                <label id="labrefundtype" style="display:none;">退款类型</label>
                                <select style="width:100%; height:42px; display:none;" id="cmbReturnType" onchange="ChangeReturnType()">
                                    <option value="课前">开课前退</option>
                                    <option value="随时">随时退</option>
                                </select>


                                <label id="labrefundrule" style="display:none;">退款规则</label>
                                <select style="width:100%; height:42px; display:none;" id="cmbReturnRule">
                                    <option value="分钟">按分钟</option>
                                    <option value="课时">按课时</option>
                                </select>




                                <label>是否录屏回看</label>
                                @Html.DropDownListFor(m => m.fIsRecord, new[] {
                                                                                              new SelectListItem { Text = "是", Value = "true" },
                                                                                              new SelectListItem { Text = "否", Value = "false" }}, new { @class = "awe-select", id = "cmbIsRecord" })




                                @if (isCreateOpr)
                                {
                                    if (Model.fStatus == "保存")
                                    {
                                        <button class="awe-btn awe-btn-13" onclick="SaveClassRoomInfo('保存')">保存</button>
                                        @*if (Model.fID > 0) {
                                            <button class="awe-btn awe-btn-13" onclick="ClassRoomUpdate('发布')">发布</button>
                                                    }*@
                                    }
                                    else if (Model.fStatus == "发布")
                                    {
                                        <label>下线原因<sup>*</sup></label>
                                        <input type="text" id="txtDownLoadNote" value="" class="input-text">

                                        <button class="awe-btn awe-btn-13" onclick="ClassRoomUpdate('下线')">下线</button>
                                    }
                                    else if (Model.fStatus == "下线")
                                    {
                                        <button class="awe-btn awe-btn-13" onclick="DoClassRoomSettlement()">结算</button>
                                    }
                                }

                            </div>
                        }
                        else
                        {
                            <div class="reservation-billing-detail" id="panelData">


                                @*<h5>基本信息</h5>*@
                                @Html.HiddenFor(m => m.fID)

                                <label>课程名称<sup>*</sup></label>
                                <span>@Model.fClassRoomTitle</span>


                                <label>封面<sup>*</sup></label>
                                <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fCoverImg?x-oss-process=style/fang" id="imgCover" data-reveal-id="myModal" alt="">


                                <label>课程简介</label>
                                <span>@Model.fInfo</span>

                                <label>图文详情</label>
                                <br /><br />
                                @if (Model.descList != null && Model.descList.Count > 0)
                                {
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.descList[0].fContent?x-oss-process=style/fang" alt="" />
                                    <input type="hidden" id="hidDescID" value="@Model.descList[0].fID" />
                                    <input type="hidden" id="hidDesc" value="@Model.descList[0].fContent" />
                                }

                                <label>是否公开</label>
                                @if (Model.fClassType == "Public")
                                {
                                    <span>公开课</span>
                                }
                                else
                                {
                                    <span>私课</span>
                                }



                                <label>课程二级分类</label>
                                @if (Model.fPharse == "1")
                                {
                                    <span>小学</span>
                                }
                                else if (Model.fPharse == "2")
                                {
                                    <span>初中</span>
                                }
                                else if (Model.fPharse == "3")
                                {
                                    <span>高中</span>
                                }
                                else if (Model.fPharse == "8")
                                {
                                    <span>素质与拓展</span>
                                }
                                else if (Model.fPharse == "9")
                                {
                                    <span>职业与技能</span>
                                }
                                else
                                {
                                    <span>全部</span>
                                }

                                <label>课程三级分类</label>
                                <span>@Model.fSubject</span>


                                <label>授课老师</label>
                                <span>@Model.fTecharUserName</span>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>原价<sup>*</sup></label>
                                        <span>@Model.fBasePrice</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>售价<sup>*</sup></label>
                                        <span>@Model.fPrice</span>
                                    </div>
                                </div>





                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>截止报名时间<sup>*</sup></label>
                                        <span>@Model.fDeadLineDate.ToString("yyyy-MM-dd")</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>开课时间<sup>*</sup></label>
                                        <span>@Model.fClassRoomDate.ToString()</span>

                                    </div>
                                </div>



                                <label>最大人数（超过最大人数停止销售，如果不限制人数，可以设置个大数字）</label>
                                <span>@Model.fMaxNumber</span>





                                <label>支付类型</label>
                                <span>@Model.fPayType</span>

                                <label>是否可退</label>
                                @if (Model.fIsReturn)
                                {
                                    <span>可退</span>
                                }
                                else
                                {
                                    <span>不可退</span>
                                }
                                <label>退款类型</label>
                                <span>@Model.fReturnType</span>


                                <label>退款规则</label>
                                <span>@Model.fReturnRule</span>

                                <label>是否录屏回看</label>
                                @if (Model.fIsRecord)
                                {
                                    <span>是</span>
                                }
                                else
                                {
                                    <span>否</span>
                                }



                            </div>
                        }

                        <div class="reservation-billing-detail" id="panelDesc" style="display:none;">
                        </div>
                        <div class="reservation-billing-detail" id="panelUpdate" style="display:none;">


                            <label>授课老师<sup>*</sup></label>
                            <input type="hidden" id="hidTeacher" value="@Model.fTecharUserName" />
                            <select id="cmbAllTeacher" style="width:100%;height:42px;"></select>

                            <br />
                            @if (isCreateOpr)
                            {
                                <button class="awe-btn awe-btn-13" id="btnTeacherName" onclick="SaveClassRoomTeacherNameInfo()">保存</button>
                            }
                        </div>


                        <div class="reservation-billing-detail" id="panelCourseEdit" style="display:none;">


                        </div>
                        <div class="reservation-billing-detail" id="panelBooking">

                        </div>

                        <div class="reservation-billing-detail" id="panelPrivate" style="display:none;">
                            @if (Model.fID > 0 && Model.fStatus == "发布")
                            {
                                var httpurl = System.Configuration.ConfigurationManager.AppSettings["PayCallBack"].ToString();
                                <label>链接</label>
                                <p>@httpurl/Open/ClassRoomDetail?strClassRoomCode=@Model.fClassRoomCode</p>
                                <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=@httpurl/Open/ClassRoomDetail?strClassRoomCode=@Model.fClassRoomCode" />
                            }
                        </div>
                        <div class="reservation-billing-detail" id="panelAccount" style="display:none;">
                            @*<h5>结算明细</h5>*@
                            @if (Model.account != null)
                            {
                                <label>收入</label>
                                <input type="text" value="@Model.account.fIncome" class="input-text" disabled="disabled">
                                <label>使用流量</label>
                                <input type="text" value="@Model.account.fUsedFlow" class="input-text" disabled="disabled">
                                <label>退款</label>
                                <input type="text" value="@Model.account.fRefund" class="input-text" disabled="disabled">
                                <label>平台费用</label>
                                <input type="text" value="@Model.account.fFee" class="input-text" disabled="disabled">
                                <label>应收</label>
                                <input type="text" value="@Model.account.fAmount" class="input-text" disabled="disabled">
                                <label>结算时间</label>
                                <input type="text" value="@Model.account.fCreateDate.ToString()" class="input-text" disabled="disabled">
                            }
                        </div>
                        <div class="reservation-billing-detail" id="panelQA" style="display:none;">
                            <span style="font-size:14px; font-weight:bold;">课程发布者</span>
                            <br />新建课程的老师就是课程发布者，课程发布者也是在线支付课程的收款人和所设课程上课费用的支付人
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                授课老师
                            </span>
                            <br />课程发布者可以选择其他合作老师作为本课程的授课老师，授课老师可以邀请平台注册老师成为自己的合作老师
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                课程一级分类、课程二级分类、课程三级分类
                            </span>
                            <br />课程分类是课站平台课程的多级搜索条件
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                私课与公开课
                            </span>
                            <br />私课是在课站平台不能搜索的课程，用于老师建议非公开的课程，通常使用非公开渠道推广课程，包括朋友圈和微信群等
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                学科或知识类
                            </span>
                            <br />学科或知识类主要分为K12学科、素质与拓展、职业与技能，按照国家规定，K12学科授课必须有教师证，课站平台对于公开课的K12学科课程要求有相应学科的教师证，私课都不限制，只要注册成课站平台老师。学科和知识类，也是公开课程的二级分类搜索条件。
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                支付类型
                            </span>
                            <br />无论私课还是公开课，都支持线上支付和线下支付，线上支付支持微信和支付宝
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                退款类型
                            </span>
                            <br />课前退，是指课程的第一课时开始前；随时退，除课时最后一个课时后，任何时候都可退；
                            <br /><br /><span style="font-size:14px; font-weight:bold;">
                                退款规则
                            </span>
                            <br />按课时，是指退款按退款时未开始课时数与总课时数的比率退款；按分钟，是指按未开始课时总时长余课程总时长的比率退款
                            <br />
                        </div>
                    </div>
                    <!-- END / CONTENT -->

                </div>
            </div>
        </div>
    </div>
</section>



<div id="divCourse" class="reveal-modal" style="top: 440px;opacity: 1; visibility: visible; display:none;">
    @*<h5>
        课时信息
    </h5>*@

    <p>
        <input type="hidden" id="hidCourseID" />
        <label>课时标题</label>
        <input type="text" id="txtDictTitle" maxlength="25" class="input-text form-control" style="border:0">
        <br />
        <label>课时简介</label>
        <input type="text" id="txtCourseTitle" maxlength="50" class="input-text form-control" style="border:0">
        <br />
        <label>
            上课时间
        </label>
        <br />
        @*@Html.Partial("../Control/Date", new WebEdu.Models.DateModel { isTime = "true", dateID = "txtCourseDate", date = DateTime.Now.AddDays(10).ToString("yyyy-MM-dd HH:mm:ss"), datePlaceholder = "上课时间" })*@

        <input type="text" id="txtCourseDate1" class="awe-calendar awe-input" style="border:0; background-color:white" placeholder="日期">
        <select style=" width:60px;height:42px;border:0" id="cmbHours">
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
        </select><span>时</span>
        <select style=" width:60px;height:42px;border:0" id="cmbMM">
            <option value="0">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select><span>分</span>
        <br />
        <br />
        <label>时长</label><br />
        @*<input type="number" id="txtDateLength" class="input-text form-control">*@
        <select style=" width:100px;height:42px;border:0" id="txtDateLength">
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="150">150</option>
            <option value="180">180</option>
        </select><span>分钟</span>
        <br />
        <br />
        @*<label>排序</label>
        <br />
        <input type="number" id="txtOrder" class="input-text form-control">*@
    </p>
    <button class="awe-btn awe-btn-13" onclick="SaveCurse()">保存</button>


    <a class="close-reveal-modal" onclick="CloseCourse()">&#215;</a>
</div>

<script type="text/javascript">
    var username = "@Model.fTecharUserName";
    var classRoomCode = '@Model.fClassRoomCode';
    var showType = '@Model.showType';

    function SaveClassRoomInfo(status) {
        if ($("#txtTitle").val().trim() == "") {
            $("#txtTitle").after("<span class=\"errorMsg\">课程名称不能为空</span>");
            $("#txtTitle").focus();
            return;
        }
        if ($("#hidConver").val().trim() == "") {
            $("#hidConver").after("<span class=\"errorMsg\">封面图片不能为空</span>");
            $("#hidConver").focus();
            return;
        }
        if ($("#txtInfo").val().trim() == "") {
            $("#txtInfo").after("<span class=\"errorMsg\">课程简介不能为空</span>");
            $("#txtInfo").focus();
            return;
        }
        if ($("#cmbClassType").val().trim() == "") {
            $("#cmbClassType").after("<span class=\"errorMsg\">请选择是否公开</span>");
            $("#cmbClassType").focus();
            return;
        }
        if ($("#cmbTeacher").val().trim() == "") {
            $("#cmbTeacher").after("<span class=\"errorMsg\">授课老师不能为空</span>");
            $("#cmbTeacher").focus();
            return;
        }
        if ($("#cmbPharse").val().trim() == "") {
            $("#cmbPharse").after("<span class=\"errorMsg\">请选择课程二级分类</span>");
            $("#cmbPharse").focus();
            return;
        }
        if ($("#cmbSubject").val().trim() == "") {
            $("#cmbSubject").after("<span class=\"errorMsg\">请选择课程三级分类</span>");
            $("#cmbSubject").focus();
            return;
        }
        if ($("#txtPrice").val().trim() == "") {
            $("#txtPrice").after("<span class=\"errorMsg\">请输入售价</span>");
            $("#txtPrice").focus();
            return;
        }
        //if ($("#txtDeadLineDate").val().trim() == "") {
        //    $("#txtDeadLineDate").after("<span class=\"errorMsg\">请输入截止报名时间</span>");
        //    $("#txtDeadLineDate").focus();
        //    return;
        //}
        if ($("#txtMaxNumber").val().trim() == "") {
            $("#txtMaxNumber").after("<span class=\"errorMsg\">请输入最大人数</span>");
            $("#txtMaxNumber").focus();
            return;
        }
        var ClassRoomModel = {
            "fID": $("#fID").val(),
            "fClassType": $("#cmbClassType").val(),
            "fTecharUserName": $("#cmbTeacher").val(),
            "fPharse": $("#cmbPharse").val(),
            "fSubject": $("#cmbSubject").val(),
            "fClassRoomTitle": $("#txtTitle").val(),
            "fCoverImg": $("#hidConver").val(),
            "fInfo": $("#txtInfo").val(),
            "fDesc": $("#txtDesc").val(),
            "fQrCode": $("#hidQrCode").val(),
            // "fTeacherValidID": $("#cmbTeacherValid").val(),
            "fKnowLedge": $("#txtKnowLedge").val(),
            "fMaxNumber": $("#txtMaxNumber").val(),
            //"fClassRoomDate": $("#txtClassRoomDate").val(),
            // "fDeadLineDate": $("#txtDeadLineDate").val(),
            "fPrice": $("#txtPrice").val(),
            "fBasePrice": $("#txtBasePrice").val(),
            "fPayType": $("#cmbPayType").val(),
            "fIsReturn": $("#cmbIsReturn").val(),
            "fReturnType": $("#cmbReturnType").val(),
            "fReturnRule": $("#cmbReturnRule").val(),
            "fIsRecord": $("#cmbIsRecord").val(),
            "fStatus": status
        };

        $.ajax({
            url: "/LoginRequest/DoSaveClassRoom",
            data: ClassRoomModel,
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    window.location.href = "/ClassRoom/ClassRoomEdit?strClassRoomCode=" + rst.strMsg;
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    $("#pMsg").text(rst.strMsg);
                    $("#pMsg").show();
                }
            }

        });


        if ($("#hidDesc").val() != "") {

            var DescModel = {
                "fID": $("#hidDescID").val(),
                "fType": "img",
                "fClassRoomCode": classRoomCode,
                "fContent": $("#hidDesc").val(),
                "fOrder": "0"
            }
            $.ajax({
                url: "/LoginRequest/DoSaveClassRoomDesc",
                data: DescModel,
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        //alert("保存成功");

                    } else if (rst.iResult == -9999) {
                        alert("请重新登录");
                    } else {
                        alert(rst.strMsg);
                    }
                }

            });

        }
    }


    //发布等申请（修改状态）
    function ClassRoomUpdate(status) {
        var isexec = true;
        var strNote = "";
        if (status == "发布") {
            if ($("#hidCourseNum").val() == 0) {
                alert("请添加课程章节内容");
                return;
            }
        }

        if (status == "下线") {
            if ($("#txtDownLoadNote").val() == "") {
                alert("下线请输入下线原因");
                return;
            }
            strNote = $("#txtDownLoadNote").val();
            if (!confirm("下线后已购买课程的款项需手动退款，继续下线操作吗？")) {
                isexec = false;
            }
        }
        if (isexec) {
            $.ajax({
                url: "/LoginRequest/DoUpdateStatus",
                data: { "strClassRoomCode": classRoomCode, "strStatus": status, "strNote": strNote },
                type: "POST",
                dataType: "json",
                success: function (rst) {
                    if (rst.iResult >= 0) {
                        alert("申请提交成功");
                        location.reload();
                    } else if (rst.iResult == -9999) {
                        alert("请重新登录");
                    } else {
                        alert(rst.strMsg)
                    }
                }

            });
        }
    }

    function ShowDetail(ClassRoomCode) {
        if ($("#hidCourseNum").val() == 0) {
            alert("请添加课程章节内容");
            return;
        } else {
            window.location.href = "/ClassRoom/ClassRoomShow?strClassRoomCode=" + ClassRoomCode;
        }
    }
</script>
<script type="text/javascript">

    function changeType(obj) {
        if ($(obj).val() == "text") {
            $("#txtContent").show();
            $("#fileUploadDesc").hide();
        } else {
            $("#fileUploadDesc").show();
            $("#txtContent").hide();
        }
    }

    function AddDesc(descID) {
        $("#hidDescID").val(0);
        $("#divDesc").show();
        $("#btnDescAdd").hide();
    }

    function DelDesc(descID) {

        $.ajax({
            url: "/LoginRequest/DoDelClassRoomDesc",
            data: { "iDescID": descID },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    window.location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }

    function UpdateDesc(descID, type, content, order) {
        $("#hidDescID").val(descID);
        if (type == "text") {
            $("#txtContent").val(content);
        } else {
            $("#hidDesc").val(content);
            $("#cmbType").val("img");
            $("#fileUploadDesc").show();
            $("#txtContent").hide();
        }
        $("#txtDescOrder").val(order);
        $("#divDesc").show();
        $("#btnDescAdd").hide();
    }

    function SaveDesc() {
        var type = $("#cmbType").val();
        var content = "";

        if (type == "text") {
            content = $("#txtContent").val();
        } else {
            content = $("#hidDesc").val();
        }

        if (type == "") {
            alert("请选择类型");
            return;
        } else if (content == "") {
            alert("内容不能为空");
            return;
        }

        var DescModel = {
            "fID": $("#hidDescID").val(),
            "fType": type,
            "fClassRoomCode": classRoomCode,
            "fContent": content,
            "fOrder": $("#txtDescOrder").val()
        }
        $.ajax({
            url: "/LoginRequest/DoSaveClassRoomDesc",
            data: DescModel,
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    $.ajax({
                        url: "/ClassRoom/QueryDescList",
                        type: this.method,
                        data: { "strClassRoomCode": classRoomCode, "isEdit": "@isEdit" },
                        success: function (msg) {
                            $('#panelDesc').html(msg);
                        }
                    });
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });

    }
</script>
<script type="text/javascript">

    function AddCurse(courseID) {
        $("#hidCourseID").val(0);
        $("#txtDictTitle").val("");
        $("#txtCourseTitle").val("");
        $("#txtCourseDate1").val("");
       // $("#txtOrder").val("");
        $("#txtDateLength").val("30");
        $("#myBGDiv").show();
        $("#divCourse").show();
    }

    function DeleteCurse(courseID) {
        if (confirm("确认删除该节课时吗")) {
            $.ajax({
                url: "/ClassRoom/DeleteCourse",
                type: this.method,
                data: { "iCourseID": courseID, "strClassRoomCode": classRoomCode, "isEdit": "@isEdit" },
                success: function (msg) {
                    $('#panelCourseEdit').html(msg);
                    $("#myBGDiv").hide();
                }
            });
        }
    }

    function UpdateCurse(courseID, dictTitle, courseTitle, date, hour, minute, length, order) {
        $("#hidCourseID").val(courseID);
        $("#txtDictTitle").val(dictTitle);
        $("#txtCourseTitle").val(courseTitle);
        $("#txtCourseDate1").val(date);
        $("#cmbHours").val(hour);
        $("#cmbMM").val(minute);
       // $("#txtOrder").val(order);
        $("#txtDateLength").val(length);
        $("#myBGDiv").show();
        $("#divCourse").show();
    }

    function CloseCourse() {
        $("#myBGDiv").hide();
        $("#divCourse").hide();
    }

    function SaveCurse() {
        if ($("#txtCourseDate1").val().trim() == "") {
            alert("请选择上课时间");
            return;
        }
        var classDate = "";
        if ($("#txtCourseDate1").val().split("/").length == 1) {
            classDate=$("#txtCourseDate1").val()+" " + $("#cmbHours").val() + ":" + $("#cmbMM").val();
        } else
        {
            classDate=$("#txtCourseDate1").val().split("/")[2] + "-" + $("#txtCourseDate1").val().split("/")[0] + "-" + $("#txtCourseDate1").val().split("/")[1] + " " + $("#cmbHours").val() + ":" + $("#cmbMM").val();
        }

        var CourseModel = {
            "fID": $("#hidCourseID").val(),
            "fClassType": "ClassRoom",
            "fClassRoomCode": classRoomCode,
            "fDictTitle": $("#txtDictTitle").val(),
            "fCourseTitle": $("#txtCourseTitle").val(),
            "fClassDate": classDate,
            "fClassDateLength": $("#txtDateLength").val(),
            "fOrder": "0"
        }
        $.ajax({
            url: "/LoginRequest/DoSaveClassRoomCourse",
            data: CourseModel,
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("保存成功");
                    $("#divCourse").hide();
                    $("#btnAdd").show();
                    $("#myBGDiv").hide();
                    $.ajax({
                        url: "/ClassRoom/QueryCourseList",
                        type: this.method,
                        data: { "strClassRoomCode": classRoomCode, "isEdit": "@isEdit" },
                        success: function (msg) {
                            $('#panelCourseEdit').html(msg);
                        }
                    });
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    alert(rst.strMsg);
                }
            }

        });

    }
</script>
<script type="text/javascript">
    var ClassRoomCode = "@Model.fClassRoomCode";


    function changePayType() {
        if ($("#cmbPayType").val() == "在线支付") {
            $("#cmbIsReturn").show();
            $("#labisrefund").show();
        } else {
            $("#cmbIsReturn").hide();
            $("#labisrefund").hide();
        }
    }

    function changeIsRefund() {
        if ($("#cmbIsReturn").val() == "true") {

            $("#cmbReturnType").show();
            $("#labrefundtype").show();
        } else {
            $("#cmbReturnType").hide();
            $("#labrefundtype").hide();
        }
    }

    function ChangeReturnType() {
        if ($("#cmbReturnType").val() == "随时") {
            $("#cmbReturnRule").show();
            $("#labrefundrule").show();
        } else {
            $("#cmbReturnRule").hide();
            $("#labrefundrule").hide();

        }
    }

    function showPanel(div) {

        $("#divBookingQuery").hide();
        if (div == "info") {
            $(".reservation-billing-detail").hide();
            $("#panelData").show();
        } else if (div == "desc") {
            $(".reservation-billing-detail").hide();
            $("#panelDesc").show();

            $.ajax({
                url: "/ClassRoom/QueryDescList",
                type: this.method,
                data: { "strClassRoomCode": ClassRoomCode, "isEdit": "@isEdit" },
                success: function (msg) {
                    $('#panelDesc').html(msg);
                },
                fail: function (err) {
                    alert(err)
                }
            });
        } else if (div == "courseEdit") {
            $(".reservation-billing-detail").hide();
            $("#panelCourseEdit").show();


            $.ajax({
                url: "/ClassRoom/QueryCourseList",
                type: this.method,
                data: { "strClassRoomCode": ClassRoomCode, "isEdit": "@isEdit" },
                success: function (msg) {
                    $('#panelCourseEdit').html(msg);
                }
            });

        } else if (div == "booking") {
            $(".reservation-billing-detail").hide();
            $("#panelBooking").show();
            $("#divBookingQuery").show();

            GetBookingList("", "", "", "");
        } else if (div == "private") {
            $(".reservation-billing-detail").hide();
            $("#panelPrivate").show();

        } else if (div == "account") {
            $(".reservation-billing-detail").hide();
            $("#panelAccount").show();

        } else if (div == "update") {
            $(".reservation-billing-detail").hide();
            $("#panelUpdate").show();

        } else if (div == "qa") {
            $(".reservation-billing-detail").hide();
            $("#panelQA").show();

        }
    }

    function QueryBookingList() {
        var mobile = $("#txtMobile").val();
        var status = $("#cmbStatus").val();
        var begindate = $("#txtBeginDate").val();
        var enddate = $("#txtEndDate").val();
        GetBookingList(mobile, status, begindate, enddate)
    }

    function GetBookingList(mobile, status, begindate, enddate) {
        $.ajax({
            url: "/ClassRoom/QueryBookingList",
            type: this.method,
            data: { "strClassRoomCode": ClassRoomCode, "strMobile": mobile, "strStatus": status, "beginDate": begindate, "endDate": enddate },
            success: function (msg) {
                $('#panelBooking').html(msg);
            }
        });
    }

    function GetAllTeacher() {

        $.getJSON("/LoginRequest/GetTeacherList?strPharse=&strSubject=", function (data) {
            $("#cmbAllTeacher").append("<option value=''>请选择</option>");

            $.each(data, function (i, item) {
                if (item["fUserName"] == $("#hidTeacher").val()) {
                    $("<option></option>")
                              .val(item["fUserName"])
                              .text(item["MemberName"])
                              .attr("selected", "selected")
                              .appendTo($("#cmbAllTeacher"));
                } else {
                    $("<option></option>")
                              .val(item["fUserName"])
                              .text(item["MemberName"])
                              .appendTo($("#cmbAllTeacher"));

                }


            });

        });

    }

    $(document).ready(function () {
        if (showType == "Add") {
            showPanel("courseEdit");
        }
        GetAllTeacher();
    });


    function SaveClassRoomQrInfo() {
        if ($("#hidQrCode").val() == "") {
            alert("请上传二维码图片");
            return;
        }

        $.ajax({
            url: "/LoginRequest/DoSaveClassRoomInfo",
            data: { "strClassRoomCode": ClassRoomCode, "strType": "fQrCode", "strInfo": $("#hidQrCode").val() },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("修改成功");

                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                }
            }

        });
    }

    function SaveClassRoomTeacherNameInfo() {
        if ($("#cmbAllTeacher").val() == "") {
            alert("请选择授课老师");
            return;
        }

        $.ajax({
            url: "/LoginRequest/DoSaveClassRoomInfo",
            data: { "strClassRoomCode": ClassRoomCode, "strType": "fTecharUserName", "strInfo": $("#cmbAllTeacher").val() },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("修改成功");

                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                }
            }

        });
    }

    function UpdatePayStatus(strBookingNo, strStatus) {
        $.ajax({
            url: "/LoginRequest/DoUpdateBookingStatus",
            data: { "strBookingNo": strBookingNo, "strStatus": strStatus, "strRemark": "老师修改" },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("修改成功");
                    $.ajax({
                        url: "/ClassRoom/QueryBookingList",
                        type: this.method,
                        data: { "strClassRoomCode": ClassRoomCode },
                        success: function (msg) {
                            $('#panelBooking').html(msg);
                        }
                    });
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                }
            }

        });
    }

    function DoClassRoomSettlement() {
        $.ajax({
            url: "/LoginRequest/DoClassRoomSettlement",
            type: this.method,
            data: { "strClassRooomCode": ClassRoomCode },
            success: function (result) {

                alert(result.strMsg);
                window.location.reload();
            }
        });
    }

    function UploadDocument(id) {
        $("#imgUploadDocument-" + id).click();
    }

    function OpenClassRoom(iCourdeID) {
        //打开一个不被拦截的新窗口
        var newWindow = window.open();
        $.ajax({
            url: "/LoginRequest/OpenClassRoom",
            data: { "iCourseID": iCourdeID },
            type: "Post",
            success: function (rst) {

                if (rst.iResult >= 0) {
                    //window.open("/Home/Index?iCourseID=" + iCourdeID+"&strRole=Teacher", '_blank').location;
                    newWindow.location.href = "/Home/Index?iCourseID=" + iCourdeID + "&strRole=Teacher";

                } else if (rst.iResult == -9999) {
                    alert("请重新登录");
                } else {
                    newWindow.close();
                    alert(rst.strMsg);
                }
            }

        });
    }
</script>
