@model TiKuBll.Model.ClassRoomModel
@{
    ViewBag.Title = "课站";
}
<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">


            <div class="row">



                <!-- SIDEBAR -->
                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">


                        <!-- WIDGET RECENT POST HAS THUMBNAIL -->
                        <div class="widget widget_recent_entries has_thumbnail">
                            <h4 class="widget-title">老师介绍</h4>
                            <div class="guest-book_item guest-book_item-2">
                                <span class="icon lotus-icon-quote-left"></span>
                                <div class="avatar">
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherHead?x-oss-process=style/head" alt="">
                                </div>
                                <h2>@Model.TeacherName</h2>
                                <p style="word-wrap:break-word;">
                                    @if (Model.validList != null)
                                    {
                                    <span>证书编号：</span>
                                    foreach (var valid in Model.validList)
                                    {
                                    <label>@valid.fCertNo</label>
                                    }
                                    }
                                    <span>@Model.TeacherDesc</span>
                                </p>
                                <span></span>
                            </div>
                        </div>
                        <!-- END / WIDGET RECENT POST HAS THUMBNAIL -->
                        @if (!string.IsNullOrEmpty(Model.TeacherQrCode))
                        {


                        <div class="widget widget_recent_entries has_thumbnail">
                            <h4 class="widget-title">老师微信二维码</h4>
                            <div class="guest-book_item guest-book_item-2">
                                <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherQrCode?x-oss-process=style/zheng" alt="" />

                            </div>
                        </div>
                        }

                        @if (Model.IsBuy > 0)
                        {
                        if (!string.IsNullOrEmpty(Model.fQrCode))
                        {

                        <div class="widget widget_recent_entries has_thumbnail">
                            <h4 class="widget-title">课程微信群</h4>
                            <div class="guest-book_item guest-book_item-2">
                                <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fQrCode?x-oss-process=style/zheng" alt="" />

                            </div>
                        </div>
                        }
                        }
                    </div>

                </div>
                <!-- END / SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <!-- RESERVATION ROOM -->
                        <div class="reservation-room">

                            <!-- ITEM -->
                            <div class="reservation-room_item">

                                <h2 class="reservation-room_name"><a href="#">@Model.fClassRoomTitle</a></h2>

                                <div class="reservation-room_img">
                                    <a href="#">
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fCoverImg?x-oss-process=style/width" alt="">
                                    </a>
                                </div>

                                <div class="reservation-room_text">

                                    <div class="reservation-room_desc">
                                        <p>
                                            @Html.Raw(Html.Encode(Model.fInfo).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))

                                        </p>
                                        @if (Model.fType == "Live")
                                        {
                                        <ul>
                                            <li>开课时间：@Model.fClassRoomDate.ToShortDateString()</li>
                                            <li>授课老师：@Model.TeacherName</li>
                                            @if (Model.fIsReturn)
                                            {
                                            if (Model.fReturnType == "随时")
                                            {
                                            <li>随时退（课时开课前1小时本课时不能退）</li>}
                                            else
                                            {
                                            <li>课前退（课程第一课时开始前1小时不能退）</li>
                                            }
                                            }
                                            else
                                            {
                                            <li>不可退</li>
                                            }
                                        </ul>
                                        }
                                        else
                                        {
                                        <ul>
                                            <li>录播</li>
                                            <li>有效期：@Model.fEffectDay 天</li>
                                            <li>有效期内无限次观看</li>
                                            <li>不可退</li>
                                        </ul>
                                        }
                                    </div>

                                    <div class="clear"></div>

                                    <p class="reservation-room_price">
                                        <span class="reservation-room_amout">￥ @Model.fPrice</span>
                                    </p>
                                    @if (Model.fStatus == "保存")
                                    {
                                        <br />
                                        <br />
                                        <input type="checkbox" /><span>我已阅读和确认<a href="/html/senddesc">《课程发布须知》</a></span>
                                    <button class="awe-btn awe-btn-13" onclick="ClassRoomUpdate('@Model.fClassRoomCode','发布')">发布</button>
                                    }

                                </div>
                                <br />
                                <br />
                                @if (Model.courseList != null)
                                {
                                <div class="reservation-room_package">

                                    <a data-toggle="collapse" href="#reservation-room_package-1" class="reservation-room_package-more" aria-expanded="true">章节</a>

                                    <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

                                        <!-- ITEM PACKAGE -->
                                        @foreach (var course in Model.courseList)
                                        {
                                        <div class="reservation-package_item">
                                            @*
                                            <div class="reservation-package_img">
                                            <a href="#"><img src="../../Content/images/reservation/package/img-1.jpg" alt=""></a>
                                            </div>*@

                                            <div class="reservation-package_text">

                                                <h4><a href="#">@course.fDictTitle</a></h4>
                                                <p>
                                                    @course.fCourseTitle
                                                    @if (Model.fType == "Live") {
                                                    <br />
                                                    <span>上课时间：@course.fClassDate.ToString("yyyy-MM-dd HH:mm") - @course.fClassDate.AddMinutes(course.fClassDateLength).ToString("HH:mm")</span>
                                                    }
                                                </p>
                                                @if (Model.IsBuy > 0)
                                                {
                                                <div class="reservation-package_book-price">
                                                    @if (course.CourseStatus == 1)
                                                    {
                                                    <a href="#" class="awe-btn awe-btn-default">未开始</a>
                                                    }
                                                    else if (course.CourseStatus == 2)
                                                    {
                                                    <a href="#" class="awe-btn awe-btn-default">已结束</a>
                                                    }
                                                    else if (course.CourseStatus == 4)
                                                    {
                                                    if (!string.IsNullOrEmpty(course.fFileCoverUrl))
                                                    {
                                                    <a href="/ClassRoom/OpenClassRoom?iCourseID=@course.fID" class="awe-btn awe-btn-default">回看</a>
                                                    }
                                                    else
                                                    {
                                                    <a href="#" class="awe-btn awe-btn-default">转码中</a>
                                                    }
                                                    }


                                                </div>
                                                }

                                            </div>
                                            <br />

                                        </div>
                                        }
                                        <!-- END / ITEM PACKAGE -->
                                        @Html.Raw(Html.Encode(@Model.fDesc).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))
                                        <br />
                                        @if (Model.descList != null)
                                        {
                                        foreach (var desc in Model.descList)
                                        {
                                        if (desc.fType == "text")
                                        {
                                        <span>@desc.fContent</span>
                                        <br />
                                        }
                                        else if (desc.fType == "img")
                                        {
                                        <div class="reservation-room_img">
                                            <a href="#">
                                                <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@desc.fContent?x-oss-process=style/chang" alt="" />
                                            </a>
                                        </div>

                                        <br />
                                        }
                                        }
                                        }


                                    </div>

                                </div>
                                }

                            </div>
                            <!-- END / ITEM -->



                        </div>
                        <!-- END / RESERVATION ROOM -->

                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    function ClassRoomUpdate(classRoomCode, status) {



        $.ajax({
            url: "/LoginRequest/DoUpdateStatus",
            data: { "strClassRoomCode": classRoomCode, "strStatus": status },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    alert("申请提交成功");
                    location.reload();
                } else if (rst.iResult == -9999) {
                    alert("请重新登录");window.location.href = "/open/RegsiterLogin?redirect_uri=@Request.Url.ToString()";
                } else {
                    alert(rst.strMsg)
                }
            }

        });

    }

</script>