@model KeZhan.Models.OpenClassRoomModel
@{
    ViewBag.Title = "课站";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>=====课站===</title>
    <link rel="stylesheet" href="../../Content/main.css?v=2.2" />
    <link rel="stylesheet" href="../../Content/iconfont.css?v=1.4" />
    <script src="../../Scripts/ketang/vue.js"></script>
    <script src="../../Scripts/ketang/vue-toasted.js"></script>
    <script src="../../Scripts/ketang/axios.js"></script>
    <!--弹出层-->
    <link rel="stylesheet" href="../../Content/reveal.css?v=1.0">
</head>
<body>
    <div id="app_box">
        <div v-show="showDialog" class="reveal-modal" style="width:300px; top: 300px; opacity: 1; visibility: visible; display:none; ">
            <h1 style="font-size:20px; font-weight:bold">{{dialogTitle}}</h1>
            <div style="height:200px;width:300px;overflow:auto">
                <table>
                    <tr style="height:30px;" v-for="user in dialogInfo">
                        <td>{{user.member}}</td>
                        <td>
                            <button class="u-btn u-btn-none f-w-140" style="color:red" v-on:click="permissionStudent(user.member,user.permission)">
                                同意
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="padding-top:20px;">
                <tr>
                    <td><button class="u-btn" v-if="dialogAction==='acceptTeacher'" v-on:click="dialogSubmit">同意</button></td>
                    <td>
                        <button class="u-btn" style="background-color:gray;" v-on:click="dialogCancel">
                            关闭
                        </button>
                    </td>
                </tr>
            </table>
            <a class="close-reveal-modal" v-on:click="dialogCancel">&#215;</a>
        </div>
        <div v-show="showDialog" class="reveal-modal-bg" style="display:block"></div>

        <div v-show="showScreen" class="reveal-modal" style="top: 300px; width:300px; opacity: 1; visibility: visible; display:none">
            <h1 style="font-size:20px; font-weight:bold">屏幕分享</h1>
            <p style="height:100px; margin-top:30px;line-height:25px;">
                当前浏览器不支持屏幕分享，请使用Chrome浏览器并安装屏幕分享插件！
                <a style="color:blue" href="https://main.qcloudimg.com/raw/a351e61a68100f938bd15d2e43f28a33/Screen-Share_v1.3.4.crx">点击下载Chrome屏幕分享插件</a>
            </p>

            <div class="u-btn" v-on:click="screenCancel">确定</div>
            <a class="close-reveal-modal" v-on:click="screenCancel">&#215;</a>
        </div>
        <div v-show="showScreen" class="reveal-modal-bg" style="display:block"></div>


        <div v-show="showRTC" class="reveal-modal" style="top: 300px; width:300px; opacity: 1; visibility: visible; display:none">
            <h1 style="font-size:20px; font-weight:bold">RTC检测</h1>
            <p style="height:100px; margin-top:30px;line-height:25px;">
                您当前所用设备不支持摄像头或麦克风，会影响您参与
                互动（连麦和老师互动），但不影响您听课

            </p>

            <div class="u-btn" v-on:click="rtcCancel">确定</div>
            <a class="close-reveal-modal" v-on:click="rtcCancel">&#215;</a>
        </div>
        <div v-show="showRTC" class="reveal-modal-bg" style="display:block"></div>


        <div class="reveal-modal" style="top: 300px; width:280px; opacity: 1; visibility: visible; display:none; " id="divDev">
            <h1 style="font-size:20px; font-weight:bold">设备管理</h1>

            <table>
                <tr style="height:45px;">
                    <td style="padding-right:20px;">
                        @*<button v-on:click="getCameraDevices">枚举摄像头</button>*@
                        选择摄像头:
                    </td>
                    <td>

                        <select style="width:180px" v-if="enableCamera" v-model="cameraIndex" v-on:change="switchCamera">
                            <option value="-1">请选择摄像头/枚举摄像头</option>
                            <option v-for="(camera, index) in devices.camera" v-bind:value="index">{{camera.label}}</option>
                        </select>

                    </td>
                </tr>
                <tr style="height:45px;">
                    <td style="padding-right:20px;">
                        @*<button v-on:click="getMicDevices">枚举麦克风</button>*@
                        选择麦克风:
                    </td>
                    <td>
                        <select style="width:180px" v-if="enableMic" v-model="micIndex" v-on:change="switchMic">
                            <option value="-1">请选择麦克风/枚举麦克风</option>
                            <option v-for="(mic, index) in devices.mic" v-bind:value="index">{{mic.label}}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="u-btn" onclick="hideDev()">完成</div>


            <a class="close-reveal-modal" onclick="hideDev()">&#215;</a>
        </div>

        <div class="reveal-modal" style="top: 300px; width:300px; opacity: 1; visibility: visible; display:none; " id="divquit">
            <h1 style="font-size:20px; font-weight:bold">退出课堂</h1>
            <p style="height:100px; margin-top:30px;">确认要退出课堂吗？</p>

            <table>
                <tr>
                    <td style="padding-right:20px;">
                        <div class="u-btn" v-on:click="quit" onclick="Quit()">确认</div>
                    </td>
                    <td>
                        <div class="u-btn" style="background-color:gray;" onclick="hideDev()">取消</div>
                    </td>
                </tr>
            </table>


            <a class="close-reveal-modal" onclick="hideDev()">&#215;</a>
        </div>

        <div class="reveal-modal" style="top: 300px; width:300px; opacity: 1; visibility: visible; display:none; " id="divclose">
            <h1 style="font-size:20px; font-weight:bold">下课</h1>
            <p style="height:100px; margin-top:30px;">学生将全部离开课堂，本节课结束，您确认下课！</p>

            <table>
                <tr>
                    <td style="padding-right:20px;">
                        <div class="u-btn" v-on:click="destroy" onclick="Quit()">下课</div>
                    </td>
                    <td>
                        <div class="u-btn" style="background-color:gray;" onclick="hideDev()">取消</div>
                    </td>
                </tr>
            </table>


            <a class="close-reveal-modal" onclick="hideDev()">&#215;</a>
        </div>

        <div class="reveal-modal" style="top: 300px; width:300px; opacity: 1; visibility: visible; display:none; " id="divMessge">
            <h1 style="font-size:20px; font-weight:bold">消息提示</h1>
            <p style="height:100px; margin-top:30px;" id="pMsg"></p>

            <table>
                <tr>
                    <td style="padding-right:20px;">
                        <div class="u-btn"  onclick="hideDev()">确定</div>
                    </td>
                </tr>
            </table>


            <a class="close-reveal-modal" onclick="hideDev()">&#215;</a>
        </div>
        <div class="reveal-modal-bg" id="divback"></div>


        <div class="m-login" v-show="step == 'first'">
            <div class="form-part">
                <div class="form-part-inner">
                    <div class="title">
                        课站
                    </div>
                    <div class="subtitle">
                        @Model.ClassRoomName
                    </div>
                    <div class="box">

                        <div class="form-item f-tar">
                            <div class="errortip" hidden="">
                            </div>
                            <div>
                                <button class="u-btn" style="width:200px;" onclick="InitLogin()">
                                    重新进入课堂
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="banner">
            </div>
        </div>
        <div v-show="step == 'two'">
            <div class="m-header">
                <div class="logo">
                    课站
                </div>
                <div class="opt">
                    <div class="opt-inner">
                        <a href="javascript:void(0);" class="logout">用户</a>
                    </div>
                </div>
            </div>
            <div class="m-home">
                <div class="part part-1">
                    <div class="icon icon-createroom">
                    </div>
                    <div class="item item-1 f-tac">
                        <input class="u-input" placeholder="请输入房间名称" v-model.trim="roomID">
                    </div>
                    <div class="errortip " hidden="">
                    </div>
                    <div class="item item-2  f-tac">
                        <button class="u-btn u-btn-longer" v-on:click="techerStart">
                            创建房间
                        </button>
                    </div>
                </div>
                <div class="part part-2">
                    <div class="icon icon-joinroom">
                    </div>
                    <div class="item item-1 f-tac">
                        <input name="roomId" class="u-input" placeholder="请输入房间ID号码" v-model.trim="roomID">
                    </div>
                    <div class="errortip " hidden="">
                    </div>
                    <div class="item item-2  f-tac">
                        <button class="u-btn u-btn-longer" v-on:click="studentStart">
                            加入房间
                        </button>
                    </div>
                    <div class="tip">
                        注：房间ID为创建房间后 生成的8位数字
                    </div>
                </div>
            </div>
        </div>
        <div v-if="step == 'second'">
            <div class="m-header">
                <div class="logo">
                    <span>@Model.ClassRoomName</span>
                    <span v-if="isTeacher===1"> 课堂号: {{roomID}}</span>
                </div>
                <div class="opt">
                    {{account}} @Model.NickName<div class="opt-inner" onclick="showQuit()">
                        <a href="#" class="close"><span>关闭</span></a>
                    </div>
                </div>
            </div>
            <div class="m-main">
                <div class="room-info">

                    @if (Model.Role == "Teacher")
                    {
                        <button class="u-btn" style="height:24px; line-height:24px; margin-right:20px;" v-on:click="showClose()">
                            下课
                        </button>
                    }

                    <button class="u-btn" style="height:24px; line-height:24px; margin-right:180px;" v-on:click="showQuit()">
                        退出课堂
                    </button>

                    @if (Model.Role == "Teacher")
                    {
                        <button class="u-btn" style="height:24px; line-height:24px;" v-on:click="teacherOpenHand('0')">
                            {{ enableHand?"停止互动":"开始互动" }}
                        </button>
                    }
                    else
                    {
                        if (Model.Role == "Student")
                        {
                            <button class="u-btn" style="height:24px; line-height:24px;" v-if="ishand && isPushing===0" v-on:click="sendHandMsg()">
                                请求互动
                            </button>

    <button class="u-btn" style="height:24px; line-height:24px;" v-if="isPushing===1">
        连线中
    </button>
                        }
                    }

                </div>
                <div class="more-opt">
                </div>
                <div class="m-whiteboard">
                    <div class="u-tab">
                        @if (Model.Role == "Teacher")
                        {
                            <div class="u-tab-header u-tab-header-big">
                                <div class="u-tab-item u-tab-item-big active" onclick="showBoard()">
                                    白板全屏
                                </div>
                                <div class="u-tab-item u-tab-item-big" v-on:click="pushScreen">
                                    屏幕共享
                                </div>
                                <div class="u-tab-item u-tab-item-big" v-on:click="startRTC">
                                    推摄像头
                                </div>
                                @*<div class="u-tab-item u-tab-item-big" v-on:click="stopPush">
                                    停止推
                                </div>*@

                                <div class="u-tab-item u-tab-item-big" style="float:right;margin-right:10px;" onclick="showDev()">
                                    设备管理
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="u-tab-header u-tab-header-big">
                                <div class="u-tab-item u-tab-item-big active" onclick="showBoard()">
                                    白板全屏
                                </div>
                                <div class="u-tab-item u-tab-item-big" style="float:right;margin-right:10px;" onclick="showDev()">
                                    设备管理
                                </div>
                            </div>

                        }
                        <div class="u-tab-body">
                            <div class="m-whiteboard-container ">
                                <div class="m-whiteboard-canvas" style="position: relative;" id="paint_box">
                                    <canvas width="700" height="490" id="canBoard" style="position: relative; box-sizing: content-box;
                    background-position: center center; background-repeat: no-repeat; background-size: contain;
                    z-index: 0; cursor: crosshair;"></canvas>
                                    @* <canvas width="700" height="490" style="position: absolute; box-sizing: content-box;
                                          top: 0px; left: 0px; z-index: 1; cursor: crosshair; width: 700px; height: 490px;
                                          visibility: visible;"></canvas>
                                        <canvas width="700" height="490" style="position: absolute; box-sizing: content-box;
                                          top: 0px; left: 0px; z-index: 2; cursor: crosshair;"></canvas>*@
                                </div>

                                <div class="u-grid-row m-kit m-kit-wb" v-if="boardConfig.canDraw">
                                    <div class="m-kit-wb-option">
                                        <div class="u-tooltip" v-on:click="setType(BoardSDK.DRAW_TYPE.RASER)" onclick="$('.m-kit-color').hide();">
                                            <i class="u-icon iconfont icon-jiguangbi "></i>
                                            <div class="u-tooltip-title">
                                                激光笔
                                            </div>
                                        </div>
                                        <div class="u-tooltip" onclick="showDetail(this)">
                                            <div class="m-kit m-kit-color" style="display: none">
                                                <div class="u-grid-col flex-6">
                                                    <i class="u-icon u-icon-color" onclick="showColor('rgb(0, 0, 0)')" style="background-color: rgb(0, 0, 0);" v-on:click="setColor('#000000')"></i>
                                                    <i class="u-icon u-icon-color" onclick="showColor('rgb(53, 203, 255)')" style="background-color: rgb(53, 203, 255);" v-on:click="setColor('#35CBFF')"></i>
                                                    <i class="u-icon u-icon-color" onclick="showColor('rgb(255, 221, 63)')" style="background-color: rgb(255, 221, 63);" v-on:click="setColor('#FFDD3F')"></i>
                                                    <i class="u-icon u-icon-color" onclick="showColor('rgb(255, 85, 60)')" style="background-color: rgb(255, 85, 60);" v-on:click="setColor('#FF553C')"></i>
                                                    <i class="u-icon u-icon-color" onclick="showColor('rgb(97, 210, 92)')" style="background-color: rgb(97, 210, 92);" v-on:click="setColor('#61D25C')"></i>
                                                    <i class="u-icon u-icon-color" onclick="showColor('rgb(182, 92, 255)')" style="background-color: rgb(182, 92, 255);" v-on:click="setColor('#B65CFF')"></i>
                                                </div>
                                            </div>
                                            <i class="u-icon iconfont icon-fangkuang" id="iconcolor"></i>
                                        </div>
                                        <div class="u-tooltip2" onclick="showDetail(this)">
                                            <div class="m-kit m-kit-color" style="display: none; ">
                                                <div class="u-grid-col flex-6">
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-zhixian" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_LINE)">
                                                        </i>
                                                        <div class="u-tooltip-title">直线</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-quxian" v-on:click="setType(BoardSDK.DRAW_TYPE.LINE)">
                                                        </i>
                                                        <div class="u-tooltip-title">曲线</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-tuoyuan" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_OVAL)">
                                                        </i>
                                                        <div class="u-tooltip-title">椭圆</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-fangkuang1" v-on:click="setType(BoardSDK.DRAW_TYPE.GRAPH_RECT)">
                                                        </i>
                                                        <div class="u-tooltip-title">方形</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-wenzi" v-on:click="setType(BoardSDK.DRAW_TYPE.INPUTTEXT)">
                                                        </i>
                                                        <div class="u-tooltip-title">文字输入</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="u-icon iconfont icon-pen"></i>
                                        </div>
                                        <div class="u-tooltip2" onclick="showDetail(this)">
                                            <div class="m-kit m-kit-color" style="display: none;width:90px;">
                                                <div class="u-grid-col flex-6">
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian"
                                                           v-on:click="setThin(50)"></i>
                                                        <div class="u-tooltip-title">小画笔</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian" style=" font-size:22px;"
                                                           v-on:click="setThin(100)"></i>
                                                        <div class="u-tooltip-title">中画笔</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian" style=" font-size:28px;"
                                                           v-on:click="setThin(150)"></i>
                                                        <div class="u-tooltip-title">大画笔</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="u-icon iconfont icon-zititubiaoxiugai-"></i>
                                        </div>
                                        @*<div class="u-tooltip2" onclick="showDetail(this)">
                                            <div class="m-kit m-kit-color" style="display: none;width:90px;">
                                                <div class="u-grid-col flex-6">
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian"
                                                           v-on:click="setInputSize(12)"></i>
                                                        <div class="u-tooltip-title">小字号</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian" style=" font-size:22px;"
                                                           v-on:click="setInputSize(20)"></i>
                                                        <div class="u-tooltip-title">中字号</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian" style=" font-size:28px;"
                                                           v-on:click="setInputSize(40)"></i>
                                                        <div class="u-tooltip-title">大字号</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="u-icon iconfont icon-zititubiaoxiugai-"></i>
                                        </div>*@
                                        <div class="u-tooltip2" onclick="showDetail(this)">
                                            <div class="m-kit m-kit-color" style="display: none;width:60px;">
                                                <div class="u-grid-col flex-6">
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-fangkuang1"
                                                           v-on:click="setType(BoardSDK.DRAW_TYPE.SELECT)"></i>
                                                        <div class="u-tooltip-title">框选</div>
                                                    </div>
                                                    <div class="u-tooltip">
                                                        <i class="u-icon iconfont icon-dian"
                                                           v-on:click="setType(BoardSDK.DRAW_TYPE.POINTSELECT)"></i>
                                                        <div class="u-tooltip-title">点选</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="u-icon iconfont icon-fangkuang1"></i>
                                        </div>
                                        <div class="u-tooltip" v-on:click="setType(BoardSDK.DRAW_TYPE.ERASER)" onclick="$('.m-kit-color').hide();">
                                            <i class="u-icon iconfont icon-xiangpica"></i>
                                            <div class="u-tooltip-title">
                                                橡皮擦
                                            </div>
                                        </div>
                                        @if (Model.Role == "Teacher")
                                        {
                                            <div class="u-tooltip2" onclick="showDetail(this)">
                                                <div class="m-kit m-kit-color" style="display: none;width:120px;">
                                                    <div class="u-grid-col flex-6">
                                                        <div class="u-tooltip">
                                                            <i class="u-icon iconfont icon-chexiao2"
                                                               v-on:click="revert"></i>
                                                            <div class="u-tooltip-title">撤销</div>
                                                        </div>
                                                        <div class="u-tooltip">
                                                            <i class="u-icon iconfont icon-huifu"
                                                               v-on:click="process"></i>
                                                            <div class="u-tooltip-title">恢复</div>
                                                        </div>
                                                        <div class="u-tooltip">
                                                            <i class="u-icon iconfont icon-qingping"
                                                               v-on:click="clearDraws"></i>
                                                            <div class="u-tooltip-title">清空当前页涂鸦（保留背景）</div>
                                                        </div>
                                                        <div class="u-tooltip">
                                                            <i class="u-icon iconfont icon-qingping1"
                                                               v-on:click="clear"></i>
                                                            <div class="u-tooltip-title">清空当前页涂鸦+背景（全部清空）</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="u-icon iconfont icon-qingping1"></i>
                                            </div>


                                            <div class="u-tooltip2" onclick="showDetail(this)">
                                                <div class="m-kit m-kit-color" style="display: none;width:60px;">
                                                    <div class="u-grid-col flex-6">
                                                        <div class="u-tooltip">
                                                            <i class="u-icon iconfont icon-baiban" onclick="document.getElementById('divPage').style.display='block';"
                                                               v-on:click="addBoard"></i>
                                                            <div class="u-tooltip-title">新增页</div>
                                                        </div>
                                                        <div class="u-tooltip">
                                                            <i class="u-icon iconfont icon-huishoushanchu"
                                                               v-on:click="deleteBoard"></i>
                                                            <div class="u-tooltip-title">删除当前页</div>
                                                        </div>
                                                        @*<div class="u-tooltip">
                                                                <i class="u-icon iconfont icon-huishoushanchu"
                                                                   v-on:click="deleteBoard2"></i>
                                                                <div class="u-tooltip-title">删除第二页</div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                                <i class="u-icon iconfont icon-baiban"></i>
                                            </div>
                                        }
                                    </div>
                                    <div class="m-kit-wb-pagination" id="divPage">
                                        <div class="u-tooltip">
                                            <div>
                                                <div class="u-pagination">
                                                    <a class="u-icon iconfont icon-icon-copy" v-on:click="prevBoard"></a><span class="u-pagination-text" style="color:#fff">
                                                        {{boardData.page.current}} / {{boardData.page.total}}
                                                    </span><a class="u-icon iconfont icon-jiantou3 "
                                                              v-on:click="nextBoard"></a>
                                                </div>
                                            </div>
                                            <div class="u-tooltip-title">
                                                分页
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.Role == "Teacher")
                                    {
                                        <div class="m-kit-wb-file">
                                            <div class="u-tooltip m-kit-wb-file-item" id="divOpenFile">
                                                <input id="file_input" style="position: absolute; opacity: 0; width:50px;" type="file" v-on:change="uploadFile"
                                                       accept="image/*, application/pdf, application/msword, application/vnd.ms-powerpoint, application/vnd.ms-excel" />
                                                <i class="u-icon iconfont u-file-icon">文档库</i><div class="u-tooltip-title">
                                                    打开文档库
                                                </div>
                                            </div>
                                            <div class="u-tooltip m-kit-wb-file-item" style="display: none" id="divCloseFile">
                                                <i class="u-icon iconfont u-file-icon">关闭文档</i><div class="u-tooltip-title">
                                                    停止使用文档
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-netcall">
                   
                    <div v-for="(value, key, index) in remoteVideos" v-bind:class="'m-netcall-video video-'+(index+1)">
                        <div class="video-name">
                            {{value.userId}}
                        </div>
                        <div class="m-video" v-bind:id="'video-'+(index+1)">
                            <video onclick="maxVideo(this)" v-bind:id="key" style="position: absolute; left: 50%;
                top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto;" autoplay
                                   playsinline></video>
                        </div>
                        @if (Model.Role == "Teacher")
                        {
                            <div class="video-toolbar">
                                <span class="video video-open" v-on:click="permissionStudent(value.userId,'0')"></span>
                                <span class="audio audio-open" v-on:click="permissionStudent(value.userId,'1')"></span>                                
                                <span class="iconfont icon-baiban" style="color:#fff; font-size:20px;" v-on:click="permissionStudent(value.userId,'4')"></span>
                                <span class="iconfont icon-guanbibaiban" style="color:#fff; font-size:20px;" v-on:click="permissionStudent(value.userId,'5')"></span>
                                <span class="iconfont icon-xiangmuguanlixitong" style="color:#fff; font-size:20px;" v-on:click="permissionStudent(value.userId,'2')"></span>
                            </div>
                        }
                    </div>
                    <div class="m-netcall-video video-4">
                        <div class="video-name">
                        </div>
                        <div class="m-video room-hasuser" id="video-4">
                            <div style="overflow: hidden; position: relative; width: 139px; height: 104px; display: inline-block;">
                                <video onclick="maxVideo(this)" id="local_video" muted="true" style="position: absolute;
                  left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto;"
                                       autoplay playsinline></video>
                            </div>
                        </div>
                        @if (Model.Role == "Teacher")
                        {
                            <div class="video-toolbar">
                                <span v-bind:class="['video', { 'video-open': enableCamera,'video-close': !enableCamera }]"
                                      v-on:click="toggleCamera"></span>
                                <span v-bind:class="['audio', { 'audio-open': enableMic,'audio-close': !enableMic }]"
                                      v-on:click="toggleMic"></span>
                            </div>
                        }
                    </div>
                </div>




                <div class="m-chatroom">
                    <div class="u-tab">

                        <div class="u-tab-header">
                            <div class="u-tab-item u-tab-item-small active" onclick="showMsgOrUser(this,'msg')">
                                讨论
                            </div>
                            <div class="u-tab-item u-tab-item-small" onclick="showMsgOrUser(this,'user')">
                                成员
                            </div>
                        </div>
                        <div class="u-tab-body" id="divMsg">
                            <div class="m-chatroom-chatarea">
                                <div id="chat-msg-list" class="m-chatroom-list" style="height: 156px;padding-left: 10px; padding-bottom:20px;word-wrap:break-word;">
                                    <div class="history-toolbar">

                                    </div>
                                    <ul class="im-log-box">
                                        <li v-for="msg in msgs" style="padding-top:8px;">
                                            <span class="send">{{msg.send}}</span> <span class="content">
                                                {{msg.content}}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="m-chatroom-input">
                                    <textarea class="u-textarea msg-input" v-model="imMsg.common.data" placeholder="和大家一起愉快聊天"></textarea>
                                    <div class="input-toolbar" style="width:90%;">
                                        <div class="part part-1">
                                            <button class="u-btn u-btn u-btn-smaller" v-on:click="sendMsg">
                                                发送
                                            </button>
                                        </div>

                                        @* <div class="part part-2" >
                                              <span class="cq"></span>
                                            </div>*@
                                        @*<div class="part part-3" onclick="showEmoji()">
                                                <span class="emojis"></span>
                                            </div>*@
                                    </div>
                                    <div class="m-emoji" style="display: none">
                                        <div class="emoji-tab">
                                            <div class="emoji-tab-item active">
                                                <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_0.png">
                                            </div>
                                            <div class="emoji-tab-item">
                                                <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/ajmd/ajmd001.png">
                                            </div>
                                            <div class="emoji-tab-item">
                                                <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/xxy/xxy001.png">
                                            </div>
                                            <div class="emoji-tab-item">
                                                <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/lt/lt001.png">
                                            </div>
                                        </div>
                                        <div class="emoji-content">
                                            <span class="emoji-item">
                                                <img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_0.png?imageView&amp;thumbnail=28x28">
                                            </span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_01.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_02.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_03.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_04.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_05.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_06.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_145.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_07.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_08.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_09.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_10.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_11.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_12.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_13.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_14.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_15.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_16.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_17.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_18.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_19.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_20.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_21.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_22.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_23.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_24.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_25.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_26.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_27.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_28.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_29.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_30.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_31.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_32.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_33.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_160.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_161.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_162.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_163.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_164.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_165.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_166.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_34.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_35.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_36.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_37.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_38.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_39.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_200.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_40.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_41.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_42.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_43.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_44.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_45.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_46.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_47.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_48.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_49.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_50.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_51.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_52.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_53.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_54.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_55.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_56.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_57.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_58.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_59.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_60.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_61.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_62.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_63.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_64.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_65.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_66.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_67.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_68.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_69.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_70.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_71.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_72.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_73.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_74.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_75.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_76.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_77.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_78.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_79.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_80.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_81.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_82.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_83.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_84.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_85.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_86.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_87.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_88.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_89.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_90.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_91.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_92.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_93.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_94.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_95.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_96.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_97.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_98.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_99.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_100.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_101.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_102.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_103.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_104.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_105.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_106.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_107.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_108.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_109.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_110.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_111.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_112.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_113.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_114.png?imageView&amp;thumbnail=28x28"></span><span class="emoji-item"><img src="http://yx-web.nosdn.127.net/webdoc/h5/emoji/emoji/emoji_115.png?imageView&amp;thumbnail=28x28"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-tab-body" id="divUser" style="display: none">
                            <div class="m-chatroom-list m-chatroom-list-1">
                                <div class="u-member" v-for="user in groupuser">
                                    @*<div class="owner">
                                        </div>*@
                                    <div class="volume">
                                    </div>
                                    <div class="avatar">
                                        <img style="width:28px; height:28px;" v-bind:src="'https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/'+user.headImg+'?x-oss-process=style/head'" />
                                    </div>
                                    <div class="nickname">
                                        {{user.nickName}}
                                    </div>
                                    @if (Model.Role == "Teacher")
                                    {
                                        <div v-if="user.role==='student' && !user.isPush && user.isOnLine" style="float:right;padding-right:10px;" v-on:click="permissionTeacher(user.userId,'1')">
                                            邀请互动
                                        </div>

    <div v-if="user.role==='student' && user.isPush && user.isOnLine" style="float:right;padding-right:10px; color:red;">
        连线中
    </div>
                                    }

                                    <div v-if="!user.isOnLine" style="float:right;padding-right:10px; color:red;">
                                        离线
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- WebRTC SDK -->
    <script src="https://sqimg.qq.com/expert_qq/webrtc/2.6.2/WebRTCAPI.min.js"></script>
    <!-- WebIM SDK -->
    <script src="https://sqimg.qq.com/expert_qq/webim/1.7.1/webim.min.js"></script>
    <!-- COS SDK -->
    <script src="https://sqimg.qq.com/expert_qq/cos/5.0.5/cos.mini.js"></script>
    <!-- 白板SDK -->
    <script src="https://sqimg.qq.com/expert_qq/edu/2.5.0/board_sdk.mini.js"></script>
    <script src="https://sqimg.qq.com/expert_qq/cos/5.0.0/cos.mini.js"></script>
    <script src="https://sqimg.qq.com/expert_qq/cos/5.0.0/cos.mini.js"></script>
    <!-- TIC SDK -->
    <!-- <script src="./libs/TICSDK.js"></script> -->
    <script src="https://sqimg.qq.com/expert_qq/TICSDK/1.4.0/TICSDK.mini.js"></script>

    <script src="../../Scripts/ketang/kezhan.js?v=1.2"></script>
</body>
<script type="text/javascript" src="../../Scripts/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    var username = '@Model.UserName';
    var usersig = '@Model.UserSig';
    var role = '@Model.Role';
    var classroomcode = '@Model.ClassRoomCode';
    var iCourseID = '@Model.CourseID';

    $(document).ready(function () {

        app.initLogin2(username, usersig, role, classroomcode);
        if (role == "Teacher") {
            setInterval(function () {
                $.ajax({
                    url: "/UserApi/GerCourseStatus",
                    data: { "strCourseNo": classroomcode },
                    dataType: "json",
                    success: function (rst) {
                        if (rst.iResult <0) {
                            if(rst.iResult==-4)
                            {
                                setTimeout(function () {
                                    app.destroy();
                                },1000*30)
                            }
                            showMessage(rst.strMsg);
                        } 
                    }

                });   
            
            },1000*60);
        }
    });

    function InitLogin() {
        $.ajax({
            url: "/UserApi/GerCourseStatus",
            data: { "strCourseNo": classroomcode },
            dataType: "json",
            success: function (rst) {
                if (rst.iResult < 0) {
                    alert(rst.strMsg);
                } else {
                    app.initLogin2(username, usersig, role, classroomcode);
                }
            }

        });

        
    }

    function showColor(color) {
        $("#iconcolor").css("color", color);
    }

    function showDetail(obj) {
        if ($(obj).find(".m-kit-color").css('display') == 'none') {
            $(".m-kit-color").hide();
            $(obj).find(".m-kit-color").show();
        } else {
            $(obj).find(".m-kit-color").hide();
        }
    }

    function showMsgOrUser(obj, type) {
        $(".u-tab-item-small").removeClass("active");
        $(obj).addClass("active");
        if (type == "msg") {
            $("#divMsg").show();
            $("#divUser").hide();
        } else {
            $("#divMsg").hide();
            $("#divUser").show();
        }
    }

    function maxVideo(obj) {

        launchFullscreen(document.getElementById($(obj).attr("id")));
        window.setTimeout(function exit() {
            //檢查瀏覽器是否處於全屏
            if (invokeFieldOrMethod(document, 'FullScreen') || invokeFieldOrMethod(document, 'IsFullScreen') || document.IsFullScreen) {
                exitFullscreen();
            }
        }, 5 * 1000);

    }

    //進入全屏
    function launchFullscreen(element) {

        //此方法不可以在異步任務中執行，否則火狐無法全屏
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.msRequestFullscreen) {
            element.msRequestFullscreen();
        } else if (element.oRequestFullscreen) {
            element.oRequestFullscreen();
        }
        else if (element.webkitRequestFullscreen) {
            element.webkitRequestFullScreen();
        } else {

            var docHtml = document.documentElement;
            var docBody = document.body;
            var videobox = document.getElementById('videobox');
            var cssText = 'width:100%;height:100%;overflow:hidden;';
            docHtml.style.cssText = cssText;
            docBody.style.cssText = cssText;
            videobox.style.cssText = cssText + ';' + 'margin:0px;padding:0px;';
            document.IsFullScreen = true;

        }
    }
    //退出全屏
    function exitFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.oRequestFullscreen) {
            document.oCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        } else {
            var docHtml = document.documentElement;
            var docBody = document.body;
            var videobox = document.getElementById('videobox');
            docHtml.style.cssText = "";
            docBody.style.cssText = "";
            videobox.style.cssText = "";
            document.IsFullScreen = false;
        }
    }

    function showEmoji() {
        if ($('.m-emoji').css('display') == 'none') {
            $(".m-emoji").show();
        } else {
            $(".m-emoji").hide();
        }
    }

    function showBoard() {


        launchFullscreen(document.getElementById("paint_box"));
        window.setTimeout(function exit() {
            //檢查瀏覽器是否處於全屏
            if (invokeFieldOrMethod(document, 'FullScreen') || invokeFieldOrMethod(document, 'IsFullScreen') || document.IsFullScreen) {
                exitFullscreen();
            }
        }, 5 * 1000);
    }


    function showDev() {
        app.getCameraDevices();
        app.getMicDevices();
        $("#divDev").show();
        $("#divback").show();
    }
    function hideDev() {
        $("#divDev").hide();
        $("#divquit").hide();
        $("#divclose").hide();
        $("#divback").hide(); 
        $("#divMessge").hide();
    }

    function showQuit() {
        $("#divquit").show();
        $("#divback").show();
    }


    function Quit() {
        $("#divDev").hide();
        $("#divquit").hide();
        $("#divclose").hide();
        $("#divback").hide();
        $("#divMessge").hide();
        //self.location = document.referrer;
    }


    function showClose() {
        $("#divclose").show();
        $("#divback").show();
    }


    function showMessage(msg) {
        $("#pMsg").text(msg);
        $("#divMessge").show();
        $("#divback").show();
    }

    $(document).keyup(function (e) {//捕获文档对象的按键弹起事件
        if (e.keyCode == 13) {//按键信息对象以参数的形式传递进来了
            //此处编写用户敲回车后的代码
            app.sendMsg();
        }
    });

    window.onbeforeunload = function (event) { return confirm("确定离开此页面吗？"); }
   
</script>
</html>
