@model TiKuBll.Model.ClassRoomListModel
@{
    ViewBag.Title = "课站";
}


<!-- ACTIVITI -->
<section class="section-activiti bg-white">
    <div class="container">

        <div class="activiti">
            <div class="gallery-cat activiti-cat ">
                <ul class="list-inline">
                    <li>状态：</li>
                    <li @if (Model.strType == "")
                        { <text> class="active" </text>      }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=@Model.strPayType&strType=">全部</a></li>
                    <li @if (Model.strType == "未开始")
                        { <text> class="active" </text>             }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=@Model.strPayType&strType=未开始">未开始</a></li>

                    <li @if (Model.strType == "正在上")
                        { <text> class="active" </text>             }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=@Model.strPayType&strType=正在上">正在上</a></li>
                    <li @if (Model.strType == "已结束")
                        { <text> class="active" </text>              }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=@Model.strPayType&strType=已结束">已结束</a></li>

                </ul>
                @if (Model.listType == "teacher")
                {

                    @*<ul class="list-inline">
        <li>状态：</li>
        <li @if (Model.strStatus == "") { <text> class="active" </text>   }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=&strPayType=@Model.strPayType&strType=@Model.strType">全部</a></li>
        <li @if (Model.strStatus == "保存") { <text> class="active" </text>   }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=保存&strPayType=@Model.strPayType&strType=@Model.strType">草稿</a></li>

        <li @if (Model.strStatus == "发布") { <text> class="active" </text>   }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=发布&strPayType=@Model.strPayType&strType=@Model.strType">发布</a></li>

        <li @if (Model.strStatus == "下线") { <text> class="active" </text>   }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=下线&strPayType=@Model.strPayType&strType=@Model.strType">下线</a></li>

    </ul>*@
                    <ul class="list-inline">
                        <li>付款方式：</li>
                        <li @if (Model.strPayType == "") { <text> class="active" </text>    }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=&strType=@Model.strType">全部</a></li>
                        <li @if (Model.strPayType == "在线支付") { <text> class="active" </text>           }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=在线支付&strType=@Model.strType">在线支付</a></li>

                        <li @if (Model.strPayType == "线下支付") { <text> class="active" </text>           }><a href="/Start/MyClassRoomList?strClassType=@Model.listType&strStatus=@Model.strStatus&strPayType=线下支付&strType=@Model.strType">线下支付</a></li>

                    </ul>

                }
            </div>




            <div class="activiti_content">

                <div class="row" id="divClassRoom">

                    @if (Model.classRoomList.Count > 0)
                    {
                        var linkUrl = "";
                        foreach (var classRoom in Model.classRoomList)
                        {
                            if (Model.listType == "teacher")
                            {
                                linkUrl = "/ClassRoom/ClassRoomTeacher?strClassRoomCode=" + @classRoom.fClassRoomCode;
                            }
                            else if (Model.listType == "create")
                            {
                                linkUrl = "/ClassRoom/ClassRoomEdit?strClassRoomCode=" + @classRoom.fClassRoomCode;
                            }
                            else
                            {
                                linkUrl = "/Open/ClassRoomDetail?strClassRoomCode=" + @classRoom.fClassRoomCode;
                            }

                            <div class="col-md-4 col-xs-6">
                                <div class="activiti_item">
                                    <div class="img">
                                        <a href="@linkUrl" class="view-more">
                                            <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@classRoom.fCoverImg?x-oss-process=style/width" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h2 style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
                                            <a href="#">@classRoom.fClassRoomTitle</a>
                                        </h2>
                                        <p style="height:40px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">
                                            @Html.Raw(Html.Encode(classRoom.fInfo).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))
                                        </p>
                                        <span>讲师：@classRoom.TeacherName</span>
                                        <h2>￥ @classRoom.fPrice.ToString()</h2>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-4 col-xs-6">
                            <div class="activiti_item">
                                <div class="img">
                                    <a href="#" class="view-more">
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/WebImage/ClassRoom-bg.jpg?x-oss-process=style/title" alt="" />
                                    </a>
                                </div>
                                <div class="text">

                                </div>
                            </div>
                        </div>
                    }

                </div>


            </div>

        </div>

    </div>
</section>
<!-- END / ACTIVITI -->
