@model TiKuBll.Model.ClassRoomModel
@{
    ViewBag.Title = "课站";
}
<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">
            <div class="row">
                <!-- SIDEBAR -->
                <div class="col-md-4 col-lg-3">
                    <div class="sidebar">
                        <!-- WIDGET RECENT POST HAS THUMBNAIL -->
                        <div class="widget widget_recent_entries has_thumbnail">
                            <h4 class="widget-title">老师介绍</h4>
                            <div class="guest-book_item guest-book_item-2">
                                <span class="icon lotus-icon-quote-left"></span>
                                <div class="avatar">
                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherHead?x-oss-process=style/head" alt="">
                                </div>
                                <h2>@Model.TeacherName</h2>
                                @if (!string.IsNullOrEmpty(Model.UserName))
                                {
                                    if (Model.IsFocus <= 0)
                                    {
                                        <button class="awe-btn awe-btn-13" id="btnFocus" onclick="FocusTeacher('@Model.fTecharUserName',true)">关注</button>
                                    }
                                    else
                                    {
                                        <button class="awe-btn awe-btn-13" id="btnFocus" onclick="FocusTeacher('@Model.fTecharUserName',false)">取消关注</button>
                                    }
                                }
                                <p style="word-wrap:break-word;">
                                    @if (Model.validList != null)
                                    {
                                        <span>证书编号：</span>
                                        foreach (var valid in Model.validList)
                                        {
                                            <label>@valid.fCertNo</label>
                                        }
                                    }
                                    <span>@Model.TeacherDesc</span>
                                </p>
                                <span></span>
                            </div>
                        </div>
                        <!-- END / WIDGET RECENT POST HAS THUMBNAIL -->
                        @if (!string.IsNullOrEmpty(Model.TeacherQrCode))
                        {
                            <div class="widget widget_recent_entries has_thumbnail">
                                <h4 class="widget-title">老师微信二维码</h4>
                                <div class="guest-book_item guest-book_item-2">
                                    <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.TeacherQrCode?x-oss-process=style/zheng" alt="" />

                                </div>
                            </div>
                        }

                        @if (Model.IsBuy > 0)
                        {
                            if (!string.IsNullOrEmpty(Model.fQrCode))
                            {
                                <div class="widget widget_recent_entries has_thumbnail">
                                    <h4 class="widget-title">课程微信群</h4>
                                    <div class="guest-book_item guest-book_item-2">
                                        <img style="width:120px;" src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fQrCode?x-oss-process=style/zheng" alt="" />
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
                <!-- END / SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-8 col-lg-9">

                    <div class="reservation_content">

                        <!-- RESERVATION ROOM -->
                        <div class="reservation-room">

                            <!-- ITEM -->
                            <div class="reservation-room_item">

                                <h2 class="reservation-room_name"><a href="#">@Model.fClassRoomTitle</a></h2>

                                <div class="reservation-room_img">
                                    <a href="#">
                                        <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@Model.fCoverImg?x-oss-process=style/width" alt="">
                                    </a>
                                </div>

                                <div class="reservation-room_text">

                                    <div class="reservation-room_desc">
                                        <p>
                                            @Html.Raw(Html.Encode(Model.fInfo).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))
                                            <br />

                                        </p>
                                        @if (Model.fType == "Live")
                                        {
                                            <ul>
                                                <li>开课时间：@Model.fClassRoomDate.ToShortDateString()</li>
                                                <li>授课老师：@Model.TeacherName</li>
                                                @if (Model.fIsReturn)
                                                {
                                                    if (Model.fReturnType == "随时")
                                                    {
                                                        <li>随时退（课时开课前1小时本课时不能退）</li>}
                                                    else
                                                    {
                                                        <li>课前退（课程第一课时开始前1小时不能退）</li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li>不可退</li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul>
                                                <li>录播</li>
                                                <li>有效期：@Model.fEffectDay 天</li>
                                                <li>有效期内无限次观看</li>
                                                <li>不可退</li>
                                            </ul>
                                        }
                                    </div>

                                    <a href="#" class="reservation-room_view-more"></a>
                                    <div class="clear"></div>

                                    <p class="reservation-room_price">
                                        <span class="reservation-room_amout">￥ @Model.fPrice</span>
                                    </p>

                                    @if (Model.IsBuy > 0)
                                    {

                                        @*<a href="/Home/Index?iCourseID=@Model.fClassRoomCode" class="reservation-room_view-more">进入课堂</a>*@
                                    }
                                    else
                                    {
                                        if (Model.fTecharUserName != Model.UserName)
                                        {
                                            if (Model.fDeadLineDate > DateTime.Now)//截止报名时间大于当前时间
                                            {
                                                if (Model.fPayType == "在线支付")
                                                {
                                                    <a href="#" onclick="BuyOrder('@Model.fClassRoomCode')" class="awe-btn awe-btn-default">购买</a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="BuyOrder('@Model.fClassRoomCode')" class="awe-btn awe-btn-default">报名</a>
                                                }
                                            }
                                        }
                                    }

                                </div>
                                <br />
                                <br />
                                <br />

                                <a href="#" onclick="ShowPanel('course')" class="awe-btn awe-btn-2">课程信息</a>
                                <a href="#" onclick="ShowPanel('buy')" class="awe-btn awe-btn-3">购买须知</a>
                                <a href="#" onclick="ShowPanel('desc')" class="awe-btn awe-btn-4">上课须知</a>
                                @*<a href="#" onclick="ShowPanel('')" class="awe-btn awe-btn-5">相关课程</a>*@

                                @if (Model.courseList != null)
                                {
                                    <div class="reservation-room_package" id="panelCourse" style=" margin-top:30px;">

                                        <a data-toggle="collapse" href="#reservation-room_package-1" class="reservation-room_package-more" aria-expanded="true">章节</a>

                                        <div class="reservation-room_package-content collapse in" id="reservation-room_package-1" aria-expanded="true" style="">

                                            <!-- ITEM PACKAGE -->
                                            @if (Model.fType == "Live")
                                            {
                                                foreach (var course in Model.courseList)
                                                {
                                            <div class="reservation-package_item">
                                                @*
                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src="../../Content/images/reservation/package/img-1.jpg" alt=""></a>
                                                    </div>*@

                                                <div class="reservation-package_text">

                                                    <h4><a href="#">@course.fDictTitle</a></h4>
                                                    <p>
                                                        @course.fCourseTitle
                                                        @if (course.fUpdateClassDate > DateTime.MinValue)
                                                        {
                                                            <br />
                                                            <span>原上课时间：@course.fUpdateClassDate.ToString()</span>
                                                        }
                                                        <br />
                                                        <span>上课时间：@course.fClassDate.ToString("yyyy-MM-dd HH:mm") - @course.fClassDate.AddMinutes(course.fClassDateLength).ToString("yyyy-MM-dd HH:mm")</span>

                                                    </p>
                                                    @if (Model.IsBuy > 0)
                                                            {
                                                            <div class="reservation-package_book-price">
                                                                @if (course.CourseStatus == 1)
                                                                    {
                                                                    <a href="#" class="awe-btn awe-btn-default">未开始</a>
                                                                    }
                                                                    else if (course.CourseStatus == 2)
                                                                    {
                                                                    <a href="#" class="awe-btn awe-btn-default">已结束</a>
                                                                    }
                                                                    else if (course.CourseStatus == 3)
                                                                    {
                                                                        if (Model.fStatus == "发布")
                                                                        {
                                                                    <a href="#" onclick="CheckBrowser(@course.fID)" class="awe-btn awe-btn-default">进入课堂</a>
                                                                        }
                                                                    }
                                                                else if (course.CourseStatus == 4)
                                                                {
                                                                    if (Model.fStatus != "结算")
                                                                    {
                                                                        if (!string.IsNullOrEmpty(course.fFileCoverUrl))
                                                                        {
                                                                            <a href="#" onclick="showCheckRtc('/ClassRoom/OpenClassRoom?iCourseID=@course.fID')" class="awe-btn awe-btn-default">回看</a>
                                                                        }
                                                                        else
                                                                        {
                                                                    <a href="#" class="awe-btn awe-btn-default">转码中</a>
                                                                            }
                                                                        }
                                                                    }

                                                                @if (!string.IsNullOrEmpty(course.fDocoumentUrl) && Model.fStatus != "结算")
                                                                    {
                                                                    <a href="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@course.fDocoumentUrl" target="_blank" class="awe-btn awe-btn-default">下载资料</a>
                                                                    }
                                                            </div>
                                                            }

                                                </div>
                                                <br />

                                            </div>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var course in Model.courseList)
                                                {
                                            <div class="reservation-package_item">
                                                @*
                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src="../../Content/images/reservation/package/img-1.jpg" alt=""></a>
                                                    </div>*@

                                                <div class="reservation-package_text">
                                                    <div class="reservation-package_img">
                                                        <img style=" width:100px; height:60px;" src="@course.fFileCoverUrl" alt="">

                                                    </div>
                                                    <h4><a href="#">@course.fDictTitle</a></h4>
                                                    <p>
                                                        @course.fCourseTitle

                                                    </p>
                                                    @if (Model.IsBuy > 0)
                                                            {
                                                            <div class="reservation-package_book-price">
                                                                <a href="#" onclick="showCheckRtc('/ClassRoom/OpenClassRoom?iCourseID=@course.fID')" class="awe-btn awe-btn-default">开始上课</a>

                                                                @if (!string.IsNullOrEmpty(course.fDocoumentUrl) && Model.fStatus != "结算")
                                                                    {
                                                                    <a href="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@course.fDocoumentUrl" target="_blank" class="awe-btn awe-btn-default">下载资料</a>
                                                                    }
                                                            </div>
                                                            }
                                                            else
                                                            {
                                                            <div class="reservation-package_book-price">
                                                                <a href="#" onclick="showCheckRtc('/Open/OpenFreeClassRoom?iCourseID=@course.fID')" class="awe-btn awe-btn-default">免费试看</a>

                                                            </div>
                                                            }

                                                </div>
                                                <br />

                                            </div>
                                                }
                                            }
                                            <!-- END / ITEM PACKAGE -->
                                            @Html.Raw(Html.Encode(@Model.fDesc).Replace("\n", "<br/>").Replace(" ", "&nbsp;&nbsp;"))
                                            <br />
                                            @if (Model.descList != null)
                                            {
                                                foreach (var desc in Model.descList)
                                                {
                                                    if (desc.fType == "text")
                                                    {
                                            <span>@desc.fContent</span>
                                            <br />
                                                    }
                                                    else if (desc.fType == "img")
                                                    {
                                            <div class="reservation-room_img">
                                                <a href="#">
                                                    <img src="https://aizhu-ducation.oss-cn-hangzhou.aliyuncs.com/@desc.fContent?x-oss-process=style/chang" alt="" />
                                                </a>
                                            </div>

                                            <br />
                                                    }
                                                }
                                            }


                                        </div>

                                    </div>
                                }

                                <div class="reservation-room_package" id="panelBuy" style=" margin-top:30px; display:none">
                                    <h5>购买须知：</h5>
                                    <p>
                                        直播课程：<br />
                                        直播课程随时退是指最后一个课时开始前1小时可以退未上课的课程；<br />
                                        课前退是指在第一个课时开始前1小时可以退全部课程；<br />
                                        不可退是指购买后就不可退；<br />
                                        退课后，所退课程将在“我的课程”中删除；<br />

                                        录播课程：<br />
                                        购买后均不可退；<br />
                                        播放：在购买后的有效期内无限次播放；<br />

                                        课程费用开票：<br />
                                        学员针对购买平台课程的发票要求，由老师和学员协商解决，课站平台作为教学平台，不提供学员任何课程发票。如果老师和协商不一致，可以在课程结束7天前发邮件到：zhaobing@aizhusoft.com；
                                    </p>
                                </div>
                                <div class="reservation-room_package" id="panelDesc" style=" margin-top:30px; display:none">
                                    <h5>设备要求：</h5>
                                    <p>
                                        PC环境：CPUi3及i3以上，内存4G及4G以上<br />
                                        带宽：4M<br />
                                        操作系统：Win7或以上、MacOS 10+<br />
                                        推荐浏览器：Win : 谷歌（chrome）52+ 、QQ 10.2+；Mac: 谷歌47+、Safari 11+<br />
                                        如果直播课要参与课堂连麦互动，请配置摄像头和麦克风（内置或外接）<br />

                                        直播课程：<br />
                                        如果有电子讲义，请在上课前下载电子讲义并预先阅读；<br />
                                        按时在每个课时开始前进入课堂，老师一般会提前10分钟进入课堂，老师进入课堂后，学员即可进入课堂；<br />
                                        如课程提供录播回看，在课程结束后7天内，无限次回看；<br />
                                        课堂纪律和禁止事项：禁止在课堂发表《服务协议》不允许的内容，否则老师有权禁止发言直至取消听课资格。如果对老师讲课有异议，可以通过课堂的投诉功能投诉；<br />
                                        录播课程：<br />
                                        播放：在购买后的有效期内无限次播放；<br />
                                        如果对录播课程有异议，请通过投诉给课站平台；<br />
                                        版权声明：<br />
                                        未经课站平台许可，对拷贝、录屏、反向工程、技术下载等手段获取课程视频等侵权行为，一经发现，课站平台有权进行封号处理，并保留进一步追究注册学员的法律责任，包括但不限于民事责任、刑事责任和行政责任。
                                    </p>
                                </div>

                                </div>
                            <!-- END / ITEM -->



                        </div>
                        <!-- END / RESERVATION ROOM -->

                    </div>

                </div>
                <!-- END / CONTENT -->

            </div>
        </div>
    </div>

</section>
<script type="text/javascript">
    function ShowPanel(panelDiv)
    {
        $(".reservation-room_package").hide();
        if (panelDiv == "course") {
            $("#panelCourse").show();
        } else if (panelDiv == "buy") {
            $("#panelBuy").show();
        } else if (panelDiv == "desc") {
            $("#panelDesc").show();
        }
    }

    function BuyOrder(classRoomCode) {

        $.ajax({
            url: "/LoginRequest/DoCheckBookingClassRoom",
            data: { "strClassRoomCode": classRoomCode },
            type: "POST",
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    if (rst.iResult == 0) {
                        window.location.href = "/User/ClassRoomBooking?strClassRoomCode=" + classRoomCode;
                    }
                } else if (rst.iResult == -9999) {
                    window.location.href = "/open/RegsiterLogin?redirect_uri=/open/ClassRoomDetail?strClassRoomCode=" + classRoomCode;
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }

    function FocusTeacher(TeacherUser, IsFocus) {
        $.ajax({
            url: "/LoginRequest/DoUserFocus",
            data: { "strTeacherUser": TeacherUser, "IsFocus": IsFocus },
            dataType: "json",
            success: function (rst) {
                if (rst.iResult >= 0) {
                    if (IsFocus) {
                        alert("关注成功");
                        $("#btnFocus").text("取消关注");
                        $("#btnFocus").attr("onclick", "FocusTeacher('" + TeacherUser + "',false)");
                    } else {
                        alert("取消关注成功");
                        $("#btnFocus").text("关注");
                        $("#btnFocus").attr("onclick", "FocusTeacher('" + TeacherUser + "',true)");
                    }
                } else if (rst.iResult == -9999) {
                    window.location.href = "/open/RegsiterLogin?redirect_uri=/open/ClassRoomDetail?strClassRoomCode=" + classRoomCode;
                } else {
                    alert(rst.strMsg);
                }
            }

        });
    }

</script>