@model KeZhanManager.Models.ClassRoomListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th>课程名称</th>
            <th width="90">类型</th>
            <th width="80">付款方式</th>
            <th width="80">老师姓名</th>
            <th width="90">发布者</th>
            <th width="120">开课时间</th>
            <th width="120">截止时间</th>
            <th width="100">是否可退</th>
            <th width="40">价格</th>
            <th width="40">状态</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classRoom in Model.classRoomList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@classRoom.fID" name=""></td>
                <td>@classRoom.fID</td>
                <td>@classRoom.fClassRoomTitle</td>
                <td>
                    @if (classRoom.fClassType == "Public")
                    {
                        <span>公开课</span>
                    }
                    else if (classRoom.fClassType == "Private")
                    {
                        <span>私课</span>
                    }
                    else
                    {
                        <span>在线课堂</span>
                    }
                    @if (classRoom.fType == "Live")
                    {
                        <span>[直播]</span>
                    }
                    else
                    {
                        <span>[录播]</span>
                    }
                </td>
                <td>@classRoom.fPayType</td>
                <td>@classRoom.TeacherName</td>
                <td><u style="cursor:pointer" class="text-primary" onclick="item_show('@classRoom.fCreateOpr','/User/UserDetail?strUserName=@classRoom.fCreateOpr','10001','360','400')">@classRoom.fCreateOpr</u></td>
                <td class="text-l">@classRoom.fClassRoomDate</td>
                <td class="text-l">@classRoom.fDeadLineDate</td>
                <td>
                    @if (classRoom.fIsReturn)
                    {
                        if (classRoom.fReturnType == "随时")
                        {
                            <span>随时退 按 @classRoom.fReturnRule</span>
                        }
                        else if (classRoom.fReturnType == "课前")
                        {
                            <span>课前退 按 @classRoom.fReturnRule</span>
                        }
                    }
                    else
                    {
                        <span>不可退</span>
                    }
                </td>
                <td>@classRoom.fPrice</td>
                <td class="td-status"><span class="label label-success radius">@classRoom.fStatus</span></td>
                <td class="td-manage">
                    <u style="cursor:pointer" class="text-primary" onclick="item_maxShow('@classRoom.fClassRoomTitle', 'https://test.2kezhan.com/Open/ClassRoomDetail?strClassRoomCode=@classRoom.fClassRoomCode', '10001')">预览</u>
</td>
            </tr>
        }
    </tbody>
</table>