@model KeZhanManager.Models.ClassRoomApplyListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="100">课程Code</th>
            <th>课程名称</th>
            <th width="120">发布时间</th>
            <th>提交备注</th>
            <th width="40">状态</th>
            <th>审核备注</th>
            <th width="120">审核时间</th>
            <th width="90">提交人</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var apply in Model.classRoomApplyList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@apply.fID" name=""></td>
                <td>@apply.fID</td>
                <td>@apply.fClassRoomCode</td>
                <td>
                    @apply.fClassRoomTitle
                </td>
                <td>@apply.fSubmitDate</td>
                <td>@apply.fNote</td>
                <td class="text-l">
                    @if (apply.fResult)
                    {<span class="label label-success radius">通过</span>}
                    else
                    {
                        <span class="label label-warning radius">拒绝</span>
                    }
                </td>
                <td>@apply.fApplyNote</td>
                <td class="td-status">@apply.fApplyDate</td>
                <td><u style="cursor:pointer" class="text-primary" onclick="item_show('@apply.fSubmitOpr','/User/UserDetail?strUserName=@apply.fSubmitOpr','10001','360','400')">@apply.fSubmitOpr</u></td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="item_maxShow('@apply.fClassRoomTitle', 'https://test.2kezhan.com/Open/ClassRoomDetail?strClassRoomCode=@apply.fClassRoomCode', '10001')">
                        预览
                    </a>
                    @if (string.IsNullOrEmpty(apply.fApplyOpr))
                    {
                        <a style="text-decoration:none" onclick="item_show('@apply.fClassRoomTitle','ClassRoomApply?iApplyID=@apply.fID', '10001','400','300')" href="javascript:;" title="审核">审核</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>