@model KeZhanManager.Models.ClassRoomApplyListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="100">课程Code</th>
            <th width="40">课程名称</th>
            <th width="90">发布时间</th>
            <th width="150">提交备注</th>
            <th width="">状态</th>
            <th width="130">审核备注</th>
            <th width="70">审核时间</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var apply in Model.classRoomApplyList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@apply.fID" name=""></td>
                <td>@apply.fID</td>
                <td><u style="cursor:pointer" class="text-primary" onclick="item_show('张三', 'member-show.html', '10001', '360', '400')">@apply.fClassRoomCode</u></td>
                <td>
                   @apply.fClassRoomTitle
                </td>
                <td>@apply.fSubmitDate</td>
                <td>@apply.fNote</td>
                <td class="text-l"><span class="label label-success radius">@apply.fResult</span></td>
                <td>@apply.fApplyNote</td>
                <td class="td-status">@apply.fApplyDate</td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a>
                </td>
            </tr>
        }
    </tbody>
</table>