@model KeZhanManager.Models.GroupListModel
<table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="80">ID</th>
            <th width="100">课堂号</th>
            <th width="40">课堂名称</th>
            <th width="150">课时</th>
            <th width="">老师</th>
            <th width="90">开课时间</th>
            <th width="130">结束时间</th>
            <th width="70">状态</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.groupList)
        {
            <tr class="text-c">
                <td><input type="checkbox" value="@group.fID" name=""></td>
                <td>@group.fID</td>
                <td><u style="cursor:pointer" class="text-primary" onclick="item_show('张三', 'member-show.html', '10001', '360', '400')">@group.fGroupID</u></td>
                <td>
                    @group.fGroupName
                </td>
                <td>@group.fCourseId</td>
                <td class="text-l"><span class="label label-success radius">@group.fTeacherID</span></td>
                <td>@group.fCreateDate</td>
                <td>@group.fDestoryDate</td>
                <td class="td-status">@group.fIsValid</td>
                <td class="td-manage">
                    <a style="text-decoration:none" onclick="article_shenhe(this,'10001')" href="javascript:;" title="审核">审核</a>
                </td>
            </tr>
        }
    </tbody>
</table>