<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>我的桌面</title>   
     @RenderSection("HeadContent", required: false)
</head>
<body>
    @RenderBody()
    @Html.Partial("_Footer")
    @RenderSection("Script", required: false)
    <script type="text/javascript">
        /*-添加*/
        function item_add(title, url, w, h) {
        layer_show(title, url, w, h);
        }
        /*-查看*/
        function item_show(title, url, id, w, h) {
        layer_show(title, url, w, h);
        }

        function item_maxShow(title, url, id) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*-编辑*/
        function item_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*-删除*/
        function item_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }
    </script>
</body>
</html>



                                                @*@Html.Partial("_LoginPartial")
                                                <li>@Html.ActionLink("主页", "Index", "Home")</li>
                                                <li>@Html.ActionLink("关于", "About", "Home")</li>
                                                <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                                    @RenderSection("featured", required: false)
                                    @RenderBody()*@
                  